In [1]:
import os
import pandas as pd

In [12]:
# 파일명 변경

folder_names = os.listdir('./data/')

for folder_name in folder_names:
    file_names = os.listdir(f'./data/{folder_name}')
    for file_name in file_names:
        split_file_name = file_name.replace('.csv','').split('_')
        os.rename(f'./data/{folder_name}/{file_name}',f'./data/{folder_name}/{folder_name}_{split_file_name[1]}.csv')

### 데이터프레임 합치기
### 관광지 기본정보

In [ ]:
folder_names = os.listdir('./data/')
folder_names

In [3]:
basic_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./data/{folder_name}/{folder_name}_관광지 기본정보.csv',encoding='ANSI')
    basic_info = pd.concat([basic_info,df],ignore_index=True)

In [4]:
basic_info

               관광지명          주소   평균 체류시간
0             168계단    부산광역시 동구   3시간 4분
1      40계단문화관광테마거리    부산광역시 중구  1시간 36분
2            BIFF광장    부산광역시 중구  1시간 22분
3        KT&G상상마당부산  부산광역시 부산진구  1시간 28분
4    SEALIFE부산아쿠아리움  부산광역시 해운대구  0시간 59분
..              ...         ...       ...
234           화명수목원    부산광역시 북구   1시간 8분
235            화전공원   부산광역시 강서구  2시간 53분
236             황령산  부산광역시 부산진구   2시간 1분
237          황령산전망대    부산광역시 남구  0시간 38분
238         흰여울문화마을   부산광역시 영도구  0시간 48분

[239 rows x 3 columns]

In [223]:
basic_info.to_csv('./basic_info.csv',encoding='utf-8')

### 데이터프레임 합치기

### 내비게이션

In [5]:
navi_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./data/{folder_name}/{folder_name}_내비게이션 목적지 검색량 추이.csv',encoding='ANSI',index_col=0)
    df = df.rename(columns={df.columns[0] : folder_name}).transpose()
    navi_info = pd.concat([navi_info,df])

In [6]:
navi_info

,202301,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312
168계단,26.0,30.0,23.0,12.0,14.0,15.0,25.0,12.0,3.0,16.0,14.0,13.0
40계단문화관광테마거리,16.0,31.0,33.0,NaN,NaN,6.0,NaN,16.0,40.0,35.0,59.0,29.0
BIFF광장,398.0,397.0,278.0,NaN,NaN,29.0,8.0,112.0,321.0,444.0,327.0,480.0
KT&G상상마당부산,1402.0,1185.0,928.0,1094.0,1642.0,3050.0,3621.0,3813.0,2545.0,2042.0,1438.0,1944.0
SEALIFE부산아쿠아리움,4067.0,4155.0,2768.0,3603.0,5161.0,3709.0,5612.0,6673.0,3656.0,3148.0,2701.0,4588.0
...,...,...,...,...,...,...,...,...,...,...,...,...
화명수목원,602.0,766.0,1340.0,1791.0,1541.0,1555.0,1003.0,997.0,1136.0,1992.0,1923.0,664.0
화전공원,32.0,38.0,25.0,NaN,NaN,19.0,NaN,22.0,24.0,34.0,50.0,22.0
황령산,425.0,416.0,569.0,NaN,NaN,66.0,22.0,148.0,500.0,608.0,527.0,449.0
황령산전망대,2587.0,2303.0,3700.0,3144.0,2447.0,2670.0,2464.0,3278.0,3297.0,3826.0,3130.0,2780.0
흰여울문화마을,4209.0,5102.0,3299.0,NaN,NaN,476.0,178.0,1258.0,3280.0,4125.0,2645.0,3384.0

In [7]:
navi_info.to_csv('./navi_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기
### 방문자 거주지별 분포

In [8]:

new_order = ['관광지명','광역지자체명', '기초지자체명', '광역지자체별 거주 방문자 비율', '기초지자체별 거주 방문자 비율']

visit_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./data/{folder_name}/{folder_name}_방문자 거주지별 분포.csv',encoding='ANSI')
    df['관광지명'] = folder_name
    df = df[new_order]
    
    visit_info = pd.concat([visit_info,df],ignore_index=True)

In [9]:
visit_info

          관광지명   광역지자체명 기초지자체명  광역지자체별 거주 방문자 비율  기초지자체별 거주 방문자 비율
0        168계단  강원특별자치도    평창군               0.6               6.4
1        168계단  강원특별자치도    태백시               0.6               5.7
2        168계단  강원특별자치도    삼척시               0.6              25.8
3        168계단  강원특별자치도    강릉시               0.6               8.2
4        168계단  강원특별자치도    영월군               0.6               0.4
...        ...      ...    ...               ...               ...
56694  흰여울문화마을     충청북도    옥천군               2.1               2.9
56695  흰여울문화마을     충청북도    증평군               2.1               2.1
56696  흰여울문화마을     충청북도    괴산군               2.1               1.3
56697  흰여울문화마을     충청북도    단양군               2.1               0.9
56698  흰여울문화마을     충청북도    보은군               2.1               0.8

[56699 rows x 5 columns]

In [10]:
visit_info.to_csv('./visit_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기
### 성별

In [11]:
new_order = ['관광지명','연령대', '남성방문 비율', '여성방문 비율']

gender_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv('./data/168계단/168계단_성·연령별 방문자.csv',encoding='ANSI')
    df['관광지명'] = folder_name
    df = df[new_order]
    
    gender_info = pd.concat([gender_info,df],ignore_index=True)

In [12]:
gender_info

         관광지명     연령대  남성방문 비율  여성방문 비율
0       168계단  70세 이상      7.1      8.4
1       168계단  60~69세      8.5      8.6
2       168계단  50~59세      8.6     10.3
3       168계단  40~49세      7.1      7.7
4       168계단  30~39세      6.8      5.9
...       ...     ...      ...      ...
1907  흰여울문화마을  40~49세      7.1      7.7
1908  흰여울문화마을  30~39세      6.8      5.9
1909  흰여울문화마을  20~29세      7.0      5.9
1910  흰여울문화마을  10~19세      3.0      3.7
1911  흰여울문화마을    0~9세      0.7      0.8

[1912 rows x 4 columns]

In [13]:
gender_info.to_csv('./gender_info.csv',encoding='utf-8',index=False)

==================================================================================================

==================================================================================================

==================================================================================================

In [4]:
import pandas as pd

basic_info = pd.read_csv('./data_2/basic_info.csv')
basic_info

     Unnamed: 0            관광지명          주소   평균 체류시간
0             0           168계단    부산광역시 동구   3시간 4분
1             1    40계단문화관광테마거리    부산광역시 중구  1시간 36분
2             2          BIFF광장    부산광역시 중구  1시간 22분
3             3      KT&G상상마당부산  부산광역시 부산진구  1시간 28분
4             4  SEALIFE부산아쿠아리움  부산광역시 해운대구  0시간 59분
..          ...             ...         ...       ...
234         234           화명수목원    부산광역시 북구   1시간 8분
235         235            화전공원   부산광역시 강서구  2시간 53분
236         236             황령산  부산광역시 부산진구   2시간 1분
237         237          황령산전망대    부산광역시 남구  0시간 38분
238         238         흰여울문화마을   부산광역시 영도구  0시간 48분

[239 rows x 4 columns]

In [5]:
stars = []
reviews = []

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service


for i in basic_info['관광지명']:
    url = f'https://www.google.co.kr/maps/search/{i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    
    try:
        # 해당 클래스명이 나타날 때까지 최대 10초 대기
        element = WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.CLASS_NAME, 'F7nice'))
        )
        
        star = element.text.split('\n')[0]
        review = element.text.split('\n')[1][1:-1]
        
        stars.append(star)
        reviews.append(review)
    except:
        check = input('일치하는 장소를 클릭 후 y를 눌러주세요(이외 None)')
        if check.upper() == 'Y':
            star = driver.find_element(By.CLASS_NAME, 'F7nice').text.split('\n')[0]
            review = driver.find_element(By.CLASS_NAME, 'F7nice').text.split('\n')[1][1:-1]
            
            stars.append(star)
            reviews.append(review)
        else:
            stars.append(None)
            reviews.append(None)
    
    driver.quit()
    print(f'평점 수 : {len(stars)}','|',f'리뷰 수 : {len(reviews)}','|',f'관광지 명 : {i}','|', f'별점 : {star}','|',f'리뷰 : {review}')
    
    star = None
    review = None

In [8]:
print(f'총 데이터 수 : {len(basic_info)}')
print('=========================================')
print(f'평점 수 : {len(stars)}')
print(f'리뷰 수 : {len(reviews)}')
print('=========================================')
print(f'총 None값 수 : {stars.count(None)}')
print(f'총 None값 수 : {reviews.count(None)}')

총 데이터 수 : 239
=========================================
평점 수 : 239
리뷰 수 : 239
=========================================
총 None값 수 : 6
총 None값 수 : 6

In [11]:
basic_info['stars'] = stars
basic_info['reviews'] = reviews

In [18]:
basic_info = basic_info.drop('Unnamed: 0',axis=1)

In [22]:
basic_info.to_csv('./basic_info_with_reviews.csv',encoding='utf-8',index=False)