## 부산 description

In [1]:
import requests
from bs4 import BeautifulSoup
import time

In [2]:
url = 'https://korean.visitkorea.or.kr/call'
params = {
    'cmd': 'TOUR_CONTENT_LIST_VIEW',
    'month': 'All',
    'areaCode': '6',
    'sigunguCode': 'All',
    'tagId': 'All',
    'sortkind': '1',
    'locationx': '0',
    'locationy': '0',
    'page': '1',
    'cnt': '100',
    'typeList': 'Tour',
    'stampId': '1589345b-b030-11ea-b8bd-020027310001'
}

all_data = []  # 모든 페이지의 데이터를 저장할 리스트

while True:
    response = requests.get(url, params=params)
    data = response.json()

    # 받은 데이터에서 필요한 정보 추출
    result_list = data.get('body', {}).get('result', [])
    for item in result_list:
        img_path = item.get('imgPath', '')
        img_url = f'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id={img_path}'
        
        extracted_data = {
            '관광지명': item.get('TITLE', ''),
            'catch': item.get('catchPhrase', ''),
            'addr1': item.get('addr1', ''),
            'img': img_url,
            'cotid' : item.get('cotId', ''),
            'areaCode' : item.get('areaCode', ''),
            'cat1' : item.get('cat1', ''),
            'cat2' : item.get('cat2', '')
        }
        
        cotid = extracted_data['cotid']
        cat1 = extracted_data['cat1']
        cat2 = extracted_data['cat2']
        areaCode = extracted_data['areaCode']
        
        new_url = f'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid={cotid}&big_category={cat1}&mid_category={cat2}&big_area={areaCode}'
        response = requests.get(new_url)
        html = response.text
        soup = BeautifulSoup(html,'html.parser')
        description = soup.find('div',class_='blind').text
        description = description.replace('\n','').replace('\t','')
        extracted_data['description'] = description

        all_data.append(extracted_data)
    
    # 다음 페이지로 이동
    # if params['page'] in range(0,1000,100):
    #     print('time sleep')
    #     time.sleep(200)
    # else:
    
    print(params['page'])
    params['page'] = str(int(params['page']) + 1)
    

    # 만약 더 이상 페이지가 없으면 반복문 종료
    if not result_list or len(all_data) == 1351:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [3]:
import pandas as pd
df = pd.DataFrame(all_data)

In [9]:
from tqdm import tqdm

tqdm.pandas()
df['관광지명'] = df['관광지명'].progress_apply(lambda x: x.replace(' ',''))

100%|██████████| 1351/1351 [00:00<00:00, 269974.97it/s]

In [24]:
import re

pattern = re.compile(r'\([^)]*\)')

df['관광지명'] = df['관광지명'].apply(lambda x: re.sub(pattern, '', x))

In [6]:
b = pd.read_csv('./data/busan.csv')

In [30]:
b = pd.merge(b,df[['관광지명','catch','description']],on='관광지명',how='left')

In [ ]:
b[b.description.isna()]

Empty DataFrame
Columns: [관광지명, 주소, 평균 체류시간, stars, reviews, 광역지자체별 거주 방문자 비율, search_number, catch, description]
Index: []

In [ ]:
df[df['관광지명'].str.contains('')]

In [72]:
b.loc[7,['catch','description']] = [df.iloc[1044]['catch'],df.iloc[1044]['description']]
b.loc[10,['catch','description']] = [df.iloc[129]['catch'],df.iloc[129]['description']]
b.loc[39,['catch','description']] = [df.iloc[1012]['catch'],df.iloc[1012]['description']]
b.loc[62,['catch','description']] = [df.iloc[427]['catch'],df.iloc[427]['description']]
b.loc[131,['catch','description']] = [df.iloc[797]['catch'],df.iloc[797]['description']]
b.loc[196,['catch','description']] = [df.iloc[981]['catch'],df.iloc[981]['description']]
b.loc[200,['catch','description']] = [df.iloc[1156]['catch'],df.iloc[1156]['description']]
b.loc[204,['catch','description']] = [df.iloc[214]['catch'],df.iloc[214]['description']]
b.loc[229,['catch','description']] = [df.iloc[1162]['catch'],df.iloc[1162]['description']]

In [76]:
b.to_csv('./부산/basic_info.csv',encoding='utf-8',index=False)

## 울산 description

In [80]:
url = 'https://korean.visitkorea.or.kr/call'
params = {
    'cmd': 'TOUR_CONTENT_LIST_VIEW',
    'month': 'All',
    'areaCode': '7',
    'sigunguCode': 'All',
    'tagId': 'All',
    'sortkind': '1',
    'locationx': '0',
    'locationy': '0',
    'page': '1',
    'cnt': '100',
    'typeList': 'Tour',
    'stampId': '1589345b-b030-11ea-b8bd-020027310001'
}

all_data = []  # 모든 페이지의 데이터를 저장할 리스트

while True:
    response = requests.get(url, params=params)
    data = response.json()

    # 받은 데이터에서 필요한 정보 추출
    result_list = data.get('body', {}).get('result', [])
    for item in result_list:
        img_path = item.get('imgPath', '')
        img_url = f'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id={img_path}'
        
        extracted_data = {
            '관광지명': item.get('TITLE', ''),
            'catch': item.get('catchPhrase', ''),
            'addr1': item.get('addr1', ''),
            'img': img_url,
            'cotid' : item.get('cotId', ''),
            'areaCode' : item.get('areaCode', ''),
            'cat1' : item.get('cat1', ''),
            'cat2' : item.get('cat2', '')
        }
        
        cotid = extracted_data['cotid']
        cat1 = extracted_data['cat1']
        cat2 = extracted_data['cat2']
        areaCode = extracted_data['areaCode']
        
        new_url = f'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid={cotid}&big_category={cat1}&mid_category={cat2}&big_area={areaCode}'
        response = requests.get(new_url)
        html = response.text
        soup = BeautifulSoup(html,'html.parser')
        description = soup.find('div',class_='blind').text
        description = description.replace('\n','').replace('\t','')
        extracted_data['description'] = description

        all_data.append(extracted_data)
    
    # 다음 페이지로 이동
    # if params['page'] in range(0,1000,100):
    #     print('time sleep')
    #     time.sleep(200)
    # else:
    
    print(params['page'])
    params['page'] = str(int(params['page']) + 1)
    

    # 만약 더 이상 페이지가 없으면 반복문 종료
    if not result_list or len(all_data) == 563:
        break

1
2
3
4
5
6

In [82]:
df = pd.DataFrame(all_data)

In [85]:
tqdm.pandas()
df['관광지명'] = df['관광지명'].progress_apply(lambda x: x.replace(' ',''))

pattern = re.compile(r'\([^)]*\)')
df['관광지명'] = df['관광지명'].apply(lambda x: re.sub(pattern, '', x))

100%|██████████| 563/563 [00:00<00:00, 281486.85it/s]

In [95]:
u = pd.read_csv('./울산/basic_info.csv')

In [96]:
u = pd.merge(u,df[['관광지명','catch','description']],on='관광지명',how='left')

In [ ]:
u[u.description.isna()]

Empty DataFrame
Columns: [관광지명, 주소, 평균 체류시간, stars, reviews, 광역지자체별 거주 방문자 비율, search_number, catch, description]
Index: []

In [ ]:
df[df['관광지명'].str.contains('')]

In [115]:
u.loc[73,['catch','description']] = [df.iloc[111]['catch'],df.iloc[111]['description']]
u.loc[79,['catch','description']] = [df.iloc[1]['catch'],df.iloc[1]['description']]
u.loc[82,['catch','description']] = [df.iloc[166]['catch'],df.iloc[166]['description']]
u.loc[111,['catch','description']] = [df.iloc[120]['catch'],df.iloc[120]['description']]

In [118]:
u.to_csv('./울산/basic_info.csv',encoding='utf-8',index=False)

## 경남 description

In [119]:
url = 'https://korean.visitkorea.or.kr/call'
params = {
    'cmd': 'TOUR_CONTENT_LIST_VIEW',
    'month': 'All',
    'areaCode': '36',
    'sigunguCode': '16',
    'tagId': 'All',
    'sortkind': '1',
    'locationx': '0',
    'locationy': '0',
    'page': '1',
    'cnt': '100',
    'typeList': 'Tour',
    'stampId': '1589345b-b030-11ea-b8bd-020027310001'
}

all_data = []  # 모든 페이지의 데이터를 저장할 리스트

while True:
    response = requests.get(url, params=params)
    data = response.json()

    # 받은 데이터에서 필요한 정보 추출
    result_list = data.get('body', {}).get('result', [])
    for item in result_list:
        img_path = item.get('imgPath', '')
        img_url = f'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id={img_path}'
        
        extracted_data = {
            '관광지명': item.get('TITLE', ''),
            'catch': item.get('catchPhrase', ''),
            'addr1': item.get('addr1', ''),
            'img': img_url,
            'cotid' : item.get('cotId', ''),
            'areaCode' : item.get('areaCode', ''),
            'cat1' : item.get('cat1', ''),
            'cat2' : item.get('cat2', '')
        }
        
        cotid = extracted_data['cotid']
        cat1 = extracted_data['cat1']
        cat2 = extracted_data['cat2']
        areaCode = extracted_data['areaCode']
        
        new_url = f'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid={cotid}&big_category={cat1}&mid_category={cat2}&big_area={areaCode}'
        response = requests.get(new_url)
        html = response.text
        soup = BeautifulSoup(html,'html.parser')
        description = soup.find('div',class_='blind').text
        description = description.replace('\n','').replace('\t','')
        extracted_data['description'] = description

        all_data.append(extracted_data)
    
    # 다음 페이지로 이동
    # if params['page'] in range(0,1000,100):
    #     print('time sleep')
    #     time.sleep(200)
    # else:
    
    print(params['page'])
    params['page'] = str(int(params['page']) + 1)
    

    # 만약 더 이상 페이지가 없으면 반복문 종료
    if not result_list or len(all_data) == 430:
        break

1
2
3
4
5

In [122]:
df = pd.DataFrame(all_data)

In [124]:
tqdm.pandas()
df['관광지명'] = df['관광지명'].progress_apply(lambda x: x.replace(' ',''))

pattern = re.compile(r'\([^)]*\)')
df['관광지명'] = df['관광지명'].apply(lambda x: re.sub(pattern, '', x))

100%|██████████| 430/430 [00:00<00:00, 429928.66it/s]

In [125]:
gy = pd.read_csv('./경남/basic_info.csv')

In [128]:
gy = pd.merge(gy,df[['관광지명','catch','description']],on='관광지명',how='left')

In [ ]:
gy[gy.description.isna()]

Empty DataFrame
Columns: [관광지명, 주소, 평균 체류시간, stars, reviews, 광역지자체별 거주 방문자 비율, search_number, catch, description]
Index: []

In [ ]:
df[df['관광지명'].str.contains('')]

In [160]:
gy.loc[7,['catch','description']] = [df.iloc[27]['catch'],df.iloc[27]['description']]
gy.loc[26,['catch','description']] = [df.iloc[133]['catch'],df.iloc[133]['description']]
gy.loc[29,['catch','description']] = [df.iloc[36]['catch'],df.iloc[36]['description']]
gy.loc[33,['catch','description']] = [df.iloc[351]['catch'],df.iloc[351]['description']]
gy.loc[39,['catch','description']] = [df.iloc[256]['catch'],df.iloc[256]['description']]
gy.loc[41,['catch','description']] = [df.iloc[20]['catch'],df.iloc[20]['description']]
gy.loc[42,['catch','description']] = [df.iloc[376]['catch'],df.iloc[376]['description']]
gy.loc[52,['catch','description']] = [df.iloc[44]['catch'],df.iloc[44]['description']]
gy.loc[55,['catch','description']] = [df.iloc[324]['catch'],df.iloc[324]['description']]
gy.loc[60,['catch','description']] = [df.iloc[7]['catch'],df.iloc[7]['description']]
gy.loc[64,['catch','description']] = [df.iloc[84]['catch'],df.iloc[84]['description']]
gy.loc[65,['catch','description']] = [df.iloc[382]['catch'],df.iloc[382]['description']]
gy.loc[69,['catch','description']] = [df.iloc[352]['catch'],df.iloc[352]['description']]
gy.loc[73,['catch','description']] = [df.iloc[342]['catch'],df.iloc[342]['description']]
gy.loc[92,['catch','description']] = [df.iloc[109]['catch'],df.iloc[109]['description']]
gy.loc[100,['catch','description']] = [df.iloc[119]['catch'],df.iloc[119]['description']]

In [163]:
gy.to_csv('./경남/basic_info.csv',encoding='utf-8',index=False)

## 전남 description

In [164]:
url = 'https://korean.visitkorea.or.kr/call'
params = {
    'cmd': 'TOUR_CONTENT_LIST_VIEW',
    'month': 'All',
    'areaCode': '38',
    'sigunguCode': '13',
    'tagId': 'All',
    'sortkind': '1',
    'locationx': '0',
    'locationy': '0',
    'page': '1',
    'cnt': '100',
    'typeList': 'Tour',
    'stampId': '1589345b-b030-11ea-b8bd-020027310001'
}

all_data = []  # 모든 페이지의 데이터를 저장할 리스트

while True:
    response = requests.get(url, params=params)
    data = response.json()

    # 받은 데이터에서 필요한 정보 추출
    result_list = data.get('body', {}).get('result', [])
    for item in result_list:
        img_path = item.get('imgPath', '')
        img_url = f'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id={img_path}'
        
        extracted_data = {
            '관광지명': item.get('TITLE', ''),
            'catch': item.get('catchPhrase', ''),
            'addr1': item.get('addr1', ''),
            'img': img_url,
            'cotid' : item.get('cotId', ''),
            'areaCode' : item.get('areaCode', ''),
            'cat1' : item.get('cat1', ''),
            'cat2' : item.get('cat2', '')
        }
        
        cotid = extracted_data['cotid']
        cat1 = extracted_data['cat1']
        cat2 = extracted_data['cat2']
        areaCode = extracted_data['areaCode']
        
        new_url = f'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid={cotid}&big_category={cat1}&mid_category={cat2}&big_area={areaCode}'
        response = requests.get(new_url)
        html = response.text
        soup = BeautifulSoup(html,'html.parser')
        description = soup.find('div',class_='blind').text
        description = description.replace('\n','').replace('\t','')
        extracted_data['description'] = description

        all_data.append(extracted_data)
    
    # 다음 페이지로 이동
    # if params['page'] in range(0,1000,100):
    #     print('time sleep')
    #     time.sleep(200)
    # else:
    
    print(params['page'])
    params['page'] = str(int(params['page']) + 1)
    

    # 만약 더 이상 페이지가 없으면 반복문 종료
    if not result_list or len(all_data) == 474:
        break

1
2
3
4
5

In [165]:
df = pd.DataFrame(all_data)

In [167]:
tqdm.pandas()
df['관광지명'] = df['관광지명'].progress_apply(lambda x: x.replace(' ',''))

pattern = re.compile(r'\([^)]*\)')
df['관광지명'] = df['관광지명'].apply(lambda x: re.sub(pattern, '', x))

100%|██████████| 474/474 [00:00<00:00, 474034.36it/s]

In [168]:
j = pd.read_csv('./전남/basic_info.csv')

In [170]:
j = pd.merge(j,df[['관광지명','catch','description']],on='관광지명',how='left')

In [ ]:
j[j.description.isna()]

Empty DataFrame
Columns: [관광지명, 주소, 평균 체류시간, stars, reviews, 광역지자체별 거주 방문자 비율, search_number, catch, description]
Index: []

In [ ]:
df[df['관광지명'].str.contains('')]

In [200]:
j.loc[9,['catch','description']] = [df.iloc[97]['catch'],df.iloc[97]['description']]
j.loc[15,['catch','description']] = [df.iloc[163]['catch'],df.iloc[163]['description']]
j.loc[25,['catch','description']] = [df.iloc[98]['catch'],df.iloc[98]['description']]
j.loc[28,['catch','description']] = [df.iloc[348]['catch'],df.iloc[348]['description']]
j.loc[30,['catch','description']] = [df.iloc[232]['catch'],df.iloc[232]['description']]

j.loc[36,['catch','description']] = [df.iloc[341]['catch'],df.iloc[341]['description']]
j.loc[37,['catch','description']] = [df.iloc[49]['catch'],df.iloc[49]['description']]
j.loc[44,['catch','description']] = [df.iloc[86]['catch'],df.iloc[86]['description']]
j.loc[46,['catch','description']] = [df.iloc[48]['catch'],df.iloc[48]['description']]
j.loc[59,['catch','description']] = [df.iloc[167]['catch'],df.iloc[167]['description']]

j.loc[62,['catch','description']] = [df.iloc[10]['catch'],df.iloc[10]['description']]
j.loc[66,['catch','description']] = [df.iloc[220]['catch'],df.iloc[220]['description']]
j.loc[67,['catch','description']] = [df.iloc[13]['catch'],df.iloc[13]['description']]
j.loc[69,['catch','description']] = [df.iloc[376]['catch'],df.iloc[376]['description']]
j.loc[72,['catch','description']] = [df.iloc[418]['catch'],df.iloc[418]['description']]

j.loc[73,['catch','description']] = [df.iloc[2]['catch'],df.iloc[2]['description']]
j.loc[79,['catch','description']] = [df.iloc[7]['catch'],df.iloc[7]['description']]
j.loc[80,['catch','description']] = [df.iloc[55]['catch'],df.iloc[55]['description']]
j.loc[82,['catch','description']] = [df.iloc[394]['catch'],df.iloc[394]['description']]
j.loc[60,['catch','description']] = [df.iloc[353]['catch'],df.iloc[353]['description']]

In [202]:
j.to_csv('./전남/basic_info.csv',encoding='utf-8',index=False)

## 광주 description

In [203]:
url = 'https://korean.visitkorea.or.kr/call'
params = {
    'cmd': 'TOUR_CONTENT_LIST_VIEW',
    'month': 'All',
    'areaCode': '5',
    'sigunguCode': 'All',
    'tagId': 'All',
    'sortkind': '1',
    'locationx': '0',
    'locationy': '0',
    'page': '1',
    'cnt': '100',
    'typeList': 'Tour',
    'stampId': '1589345b-b030-11ea-b8bd-020027310001'
}

all_data = []  # 모든 페이지의 데이터를 저장할 리스트

while True:
    response = requests.get(url, params=params)
    data = response.json()

    # 받은 데이터에서 필요한 정보 추출
    result_list = data.get('body', {}).get('result', [])
    for item in result_list:
        img_path = item.get('imgPath', '')
        img_url = f'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id={img_path}'
        
        extracted_data = {
            '관광지명': item.get('TITLE', ''),
            'catch': item.get('catchPhrase', ''),
            'addr1': item.get('addr1', ''),
            'img': img_url,
            'cotid' : item.get('cotId', ''),
            'areaCode' : item.get('areaCode', ''),
            'cat1' : item.get('cat1', ''),
            'cat2' : item.get('cat2', '')
        }
        
        cotid = extracted_data['cotid']
        cat1 = extracted_data['cat1']
        cat2 = extracted_data['cat2']
        areaCode = extracted_data['areaCode']
        
        new_url = f'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid={cotid}&big_category={cat1}&mid_category={cat2}&big_area={areaCode}'
        response = requests.get(new_url)
        html = response.text
        soup = BeautifulSoup(html,'html.parser')
        description = soup.find('div',class_='blind').text
        description = description.replace('\n','').replace('\t','')
        extracted_data['description'] = description

        all_data.append(extracted_data)
    
    # 다음 페이지로 이동
    # if params['page'] in range(0,1000,100):
    #     print('time sleep')
    #     time.sleep(200)
    # else:
    
    print(params['page'])
    params['page'] = str(int(params['page']) + 1)
    

    # 만약 더 이상 페이지가 없으면 반복문 종료
    if not result_list or len(all_data) == 493:
        break

1
2
3
4
5

In [205]:
df = pd.DataFrame(all_data)

In [207]:
tqdm.pandas()
df['관광지명'] = df['관광지명'].progress_apply(lambda x: x.replace(' ',''))

pattern = re.compile(r'\([^)]*\)')
df['관광지명'] = df['관광지명'].apply(lambda x: re.sub(pattern, '', x))

100%|██████████| 493/493 [00:00<00:00, 246165.70it/s]

In [208]:
gw = pd.read_csv('./광주/basic_info.csv')

In [210]:
gw = pd.merge(gw,df[['관광지명','catch','description']],on='관광지명',how='left')

In [ ]:
gw[gw.description.isna()]

Empty DataFrame
Columns: [관광지명, 주소, 평균 체류시간, stars, reviews, 광역지자체별 거주 방문자 비율, search_number, catch, description]
Index: []

In [ ]:
df[df['관광지명'].str.contains('하정웅미술관')]

,관광지명,catch,addr1,img,cotid,areaCode,cat1,cat2,description
138,하정웅미술관,시간과 공간을 넘나들며 한국 근현대사의 폭을 한층 확장시킨 '하정웅미술관'\t\t,광주광역시 서구 상무대로 1165,https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...,97c6b0af-48df-4b62-94db-1c7ae5c6b5f1,5,A02,A0206,광주시립미술관 분관 ''하정웅미술관''은 1981년 3월에 건립되어 ''전남도지사 ...

In [231]:
gw.loc[3,['catch','description']] = [df.iloc[41]['catch'],df.iloc[41]['description']]
gw.loc[5,['catch','description']] = [df.iloc[85]['catch'],df.iloc[85]['description']]
gw.loc[7,['catch','description']] = [df.iloc[149]['catch'],df.iloc[149]['description']]
gw.loc[8,['catch','description']] = [df.iloc[38]['catch'],df.iloc[38]['description']]
gw.loc[9,['catch','description']] = [df.iloc[351]['catch'],df.iloc[351]['description']]
gw.loc[17,['catch','description']] = [df.iloc[40]['catch'],df.iloc[40]['description']]
gw.loc[26,['catch','description']] = [df.iloc[11]['catch'],df.iloc[11]['description']]
gw.loc[32,['catch','description']] = [df.iloc[27]['catch'],df.iloc[27]['description']]
gw.loc[33,['catch','description']] = [df.iloc[449]['catch'],df.iloc[449]['description']]
gw.loc[36,['catch','description']] = [df.iloc[83]['catch'],df.iloc[83]['description']]
gw.loc[42,['catch','description']] = [df.iloc[356]['catch'],df.iloc[356]['description']]
gw.loc[47,['catch','description']] = [df.iloc[138]['catch'],df.iloc[138]['description']]

In [233]:
gw.to_csv('./광주/basic_info.csv',encoding='utf-8',index=False)

========================================================================================================================================================================================================================================

========================================================================================================================================================================================================================================

========================================================================================================================================================================================================================================

## 번역

In [1]:
import pandas as pd

busan = pd.read_csv('./data/busan.csv')
ulsan = pd.read_csv('./data/ulsan.csv')
gyeongnam = pd.read_csv('./data/gyeongnam.csv')
jeonnam = pd.read_csv('./data/jeonnam.csv')
gwangju = pd.read_csv('./data/gwangju.csv')

In [2]:
busan_avg = busan['scores'].sum() / len(busan)
ulsan_avg = ulsan['scores'].sum() / len(ulsan)
gyeongnam_avg = gyeongnam['scores'].sum() / len(gyeongnam)
jeonnam_avg = jeonnam['scores'].sum() / len(jeonnam)
gwangju_avg = gwangju['scores'].sum() / len(gwangju)

In [3]:
for i in range(len(busan)):
    if busan.iloc[i]['scores'] >= busan_avg:
        busan.at[i,'구분'] = '숨은 명소'
    else:
        busan.at[i,'구분'] = '일반 명소'
        
for i in range(len(ulsan)):
    if ulsan.iloc[i]['scores'] >= ulsan_avg:
        ulsan.at[i,'구분'] = '숨은 명소'
    else:
        ulsan.at[i,'구분'] = '일반 명소'
        
for i in range(len(gyeongnam)):
    if gyeongnam.iloc[i]['scores'] >= gyeongnam_avg:
        gyeongnam.at[i,'구분'] = '숨은 명소'
    else:
        gyeongnam.at[i,'구분'] = '일반 명소'
        
for i in range(len(jeonnam)):
    if jeonnam.iloc[i]['scores'] >= jeonnam_avg:
        jeonnam.at[i,'구분'] = '숨은 명소'
    else:
        jeonnam.at[i,'구분'] = '일반 명소'
        
for i in range(len(gwangju)):
    if gwangju.iloc[i]['scores'] >= gwangju_avg:
        gwangju.at[i,'구분'] = '숨은 명소'
    else:
        gwangju.at[i,'구분'] = '일반 명소'

In [4]:
all_df = pd.concat([busan,ulsan,gyeongnam,jeonnam,gwangju],ignore_index=True)

In [ ]:
from googletrans import Translator

In [ ]:
from googletrans import Translator

translator = Translator()

In [11]:
answer = []

In [23]:
for i in range(507,len(all_df)):
    if pd.isna(all_df.iloc[i]['catch']):
        text = all_df.iloc[i]['description']
    else:
        text = f"{all_df.iloc[i]['catch']}. {all_df.iloc[i]['description']}"
    text = translator.translate(text,src='ko',dest='en').text
    
    answer.append(text)

In [36]:
all_df['translation'] = answer

In [ ]:
for i in range(len(all_df)):
    if all_df.iloc[i]['주소'].startswith('부산'):
        all_df.at[i,'지역'] = '부산'
    elif all_df.iloc[i]['주소'].startswith('울산'):
        all_df.at[i,'지역'] = '울산'
    elif all_df.iloc[i]['주소'].startswith('경상'):
        all_df.at[i,'지역'] = '경남'
    elif all_df.iloc[i]['주소'].startswith('전라'):
        all_df.at[i,'지역'] = '전남'
    elif all_df.iloc[i]['주소'].startswith('광주'):
        all_df.at[i,'지역'] = '광주'

In [72]:
all_df['catch'].fillna('',inplace=True)

In [70]:
all_df.to_csv('./data/all_df.csv',encoding='utf-8',index=False)

## embedding 추출

In [71]:
import pandas as pd
all_df = pd.read_csv('./data/all_df.csv')

In [1]:
from getpass import getpass

openai_api_key = getpass("OPENAI_TOKEN")

In [2]:
from openai import OpenAI

openai_client = OpenAI(api_key=openai_api_key)

In [3]:
def get_embedding(text_list):
    response = openai_client.embeddings.create(
        input=text_list,
        model = 'text-embedding-3-small',
        dimensions=512
    )
    return [x.embedding for x in response.data]

In [16]:
from tqdm.notebook import tqdm

embeddings = []
for i in tqdm(range(0,len(all_df),100)):
    batch = all_df.iloc[i:i+100]
    text_list = batch['translation'].tolist()
    batch_embeddings = get_embedding(text_list)
    embeddings.extend(batch_embeddings)

all_df['embeddings'] = embeddings

  0%|          | 0/6 [00:00<?, ?it/s]

In [4]:
pinecone_api_key = getpass()

In [5]:
from pinecone import Pinecone

pc = Pinecone(api_key = pinecone_api_key)

In [6]:
index = pc.Index('touristattraction')

In [7]:
index.describe_index_stats()

{'dimension': 512,
 'index_fullness': 0.00578,
 'namespaces': {'': {'vector_count': 578}},
 'total_vector_count': 578}

In [73]:
from tqdm.notebook import tqdm

meta = ['관광지명','주소','longitude','latitude','scores','img','구분','description','catch','translation','대분류','중분류','소분류','지역']

for i in tqdm(range(0,len(all_df),100)):
    batch = all_df.iloc[i:i+100]
    vectors = []
    for j in range(len(batch)):
        row = batch.iloc[j]
        id_ = row.name
        embedding = eval(row['embeddings'])
        metadata = row[meta].to_dict()
        vectors.append((str(id_),embedding,metadata))
    try:
        response = index.upsert(vectors)
        print(response)
    except Exception as e:
        print(i,e)

  0%|          | 0/6 [00:00<?, ?it/s]

{'upserted_count': 100}
{'upserted_count': 100}
{'upserted_count': 100}
{'upserted_count': 100}
{'upserted_count': 100}
{'upserted_count': 78}

In [ ]:
!pip install google-auth
!pip install google-cloud-translate

In [8]:
import json

with open("./data/google_secret.json") as fr:
    google_secret = json.loads(fr.read())

In [9]:
from google.oauth2.service_account import Credentials
from google.cloud import translate

credentials = Credentials.from_service_account_info(google_secret)
google_translate_client = translate.TranslationServiceClient(credentials=credentials)

In [10]:
def translation(query):
    parent = f"projects/{google_secret['project_id']}/locations/global"
    response = google_translate_client.translate_text(
        request={
            "parent": parent,
            "contents": [query],
            "mime_type": "text/plain",
            "source_language_code": "ko",
            "target_language_code": "en-US",
        }
    )
    return response.translations[0].translated_text

In [118]:
query = "가슴이 따뜻해지는 여행기"
eng_query = translation(query)
print(eng_query)

A heart-warming travelogue

In [11]:
def recommend(query):
    eng_query = translation(query)
    query_embedding = get_embedding([eng_query])[0]
    results = index.query(
        vector = query_embedding,
        filter = {
            "구분" : {"$in" : ["숨은 명소"]},
            "지역" : {"$in" : ["울산"]}
        },
        top_k = 3,
        include_metadata = True
    )
    return results['matches']

In [12]:
query = '바다가 보이는 전망 좋은 숲속 전망대'

In [14]:
items = recommend(query)

In [19]:
def generate_prompt(query,items):
    item_text = ''
    for i,item in enumerate(items):
        item_text += f'''
추천 결과 : {i+1}
관광지명 : {item['metadata']['관광지명']}
대분류 : {item['metadata']['대분류']}
중분류 : {item['metadata']['중분류']}
소분류 : {item['metadata']['소분류']}
관광지 설명 : {item['metadata']['description']}
'''
    item_text = item_text.strip()
    prompt = f'''
유저가 가고 싶은 관광지에 대한 묘사와 이에 대한 추천 결과가 주어집니다.
유저의 입력과 각 추천 결과 관광지명, 분류, 관광지 설명 등을 참고하여 추천사를 작성하세요.
당신에 대한 소개를 먼저 하고, 친절한 말투로 작성해주세요.
중간 중간 이모지를 적절히 사용해주세요.

---
유저 입력 : {query}
---

{item_text}
---
'''.strip()
    return prompt

In [20]:
prompt = generate_prompt(query,items)

In [21]:
print(prompt)

유저가 가고 싶은 관광지에 대한 묘사와 이에 대한 추천 결과가 주어집니다.
유저의 입력과 각 추천 결과 관광지명, 분류, 관광지 설명 등을 참고하여 추천사를 작성하세요.
당신에 대한 소개를 먼저 하고, 친절한 말투로 작성해주세요.
중간 중간 이모지를 적절히 사용해주세요.

---
유저 입력 : 바다가 보이는 전망 좋은 숲속 전망대
---

추천 결과 : 1
관광지명 : 편백산림욕장
대분류 : 자연
중분류 : 자연관광지
소분류 : 자연휴양림
관광지 설명 : 달천동 천마산(해발 236m)은 편백나무 5ha, 소나무 33ha, 잣나무 2ha가 조성되어 있어 주민 휴식처로 각광받고 있다. 천마산 편백 산림욕장은 한국관광공사 선정 [안심 관광지]로 선정된 곳으로 숲해설, 숲체험을 운영 중에 있다. 편백나무는 스트레스 해소와 아토피성 피부염, 알레르기, 노화 방지 등 피부성 질환을 완화하는데 탁월한 효과가 있으며, 편백나무가 심어진 숲길은 산림욕장으로서 인기가 좋다. 이 밖에도 숲속 산책길과 쉼터 테이블 등이 설치되어 있고 주변에는 천마산 등산로를 기준으로 솔 숲길(0.45km)과 성터 옛길(0.4km), 만석골 저수지 및 생태수변 전망데크, 천마산 정상 전망대 등이 마련되어 있다. 천마산 정상에서는 울산 시가지와 동해 바다 쪽에 위치한 중공업 단지를 조망할 수 있다.

추천 결과 : 2
관광지명 : 솔개공원
대분류 : 인문(문화/예술/역사)
중분류 : 휴양관광지
소분류 : 공원
관광지 설명 : 솔개공원은 해안가까지 도보 3분 거리로 이동할 수 있어 방문객, 낚시객들에게 인기 많은 곳이다. 인공적인 조형물을 설치하지 않은 제주도 해안공원을 벤치마킹하여, 아름다운 바다와 더불어 자연친화적 공원을 함께 감상할 수 있게 만들어 이국적인 느낌을 준다. 해안가에서 바다 풍경을 보며 걸을 수 있는 산책로와 앉아서 쉬며 바다 풍경을 조망할 수 있는 벤치는 여행자의 휴식 공간 및 힐링 공간이다. 산책로가 길지는 않지만 바다가 가깝고, 길옆 대나무와 시원하게 자란 소나무를 따라 걸으면서 울산의 바다와 공원을 한껏 즐길 수 있다.

추천 결과 : 3
관광지명 : 울산입화산참살이숲
대분류 : 자연
중분류 : 자연관광지
소분류 : 자연휴양림
관광지 설명 : 입화산은 불꽃을 세우는 산으로 이 산에서 기도하면 다른 산보다 효험이 있다고 하여 소원성취의 촛불이 꺼진 적이 없었다고 한다. 일제 침략 당시 입화산의 수많은 기도처를 보고 이곳이 울산 사람들의 신성한 성소라고 여겨 1915년~1920년에 이 산에 쇠말뚝을 박았으며 광복 이후 입화산 일대 유지들이 쇠말뚝을 뽑았다고 한다.입화산자연휴양림은 숙박시설인 소나무, 참나무, 편백나무 등 숲속의 자연과 어우러진 야영장과 카라반 야영장 별뜨락, 나무를 이용한 모험놀이, 체험시설인 네이처 스포츠, 유명한 시와 노래 작품을 감상하며 산책하는 시와 노래가 있는 길이 있다. 시와 노래가 있는 길을 따라 여유 있게 걷다 보면 대나무숲 체험장도 있다. 또, 피톤치드를 배출한다는 편백나무 숲을 가로지르는 치유의 길에서 산림욕 체험이 가능하다. 그밖에 숲을 탐방하며 숲속 생태를 관찰하고 숲의 소중함을 알게 하는 숲 해설 프로그램, 유아 숲 교육프로그램, 과수체험 프로그램 등을 운영하고 있다.
---

In [23]:
def request_chat_completion(prompt):
    response = openai_client.chat.completions.create(
        model = 'gpt-3.5-turbo',
        messages = [
            {'role' : 'system', 'content' : '당신은 관광지를 추천해주는 AI 여행지기 트레블즈입니다'},
            {'role' : 'user', 'content' : prompt}
        ],
        stream = True
    )
    return response

In [25]:
response = request_chat_completion(prompt)
for chunk in response:
    delta = chunk.choices[0].delta
    if delta.content:
        print(delta.content,end='')

🌟 안녕하세요! 저는 여행지를 추천해주는 AI 여행지기 트레블즈입니다. 바다가 보이는 전망 좋은 숲속 전망대를 원하시는군요! 이런 관광지를 사랑하시는 분들에게 많은 관심을 두고 있죠. 제 추천을 통해 특별한 경험을 만들어 드리고 싶어요. 🌲🌊

추천해드리는 첫 번째 관광지는 '편백산림욕장'입니다. 이곳은 천마산에 위치한 숲속 휴양지로, 편백나무를 비롯한 다양한 나무들이 자리하고 있어 자연 속에서 힐링을 즐기기에 안성맞춤이에요. 숲해설과 숲체험 프로그램도 운영되어 자연과 소통하는 재미를 느낄 수 있답니다. 또한 천마산 정상 전망대에서는 울산 시가 중공업 단지를 바라볼 수 있어 멋진 전망을 감상할 수 있어요. 🏞️

두 번째 추천하는 관광지는 '솔개공원'입니다. 이 곳은 인공 조형물 없이 자연 그대로를 보존한 제주도 해안공원을 벤치마킹하여 조성된 공원으로, 바다를 바라보며 즐길 수 있는 산책로와 바다를 조망할 수 있는 휴식 공간이 자리하고 있어요. 특히 해안가까지 도보로 이동할 수 있는 접근성을 갖추고 있어 방문객들의 인기를 얻고 있답니다. 🏝️

마지막으로 추천하는 관광지는 '울산입화산참살이숲'입니다. 이 자연휴양림은 숲속에 자리한 야영장과 힐링 프로그램을 제공해 자연 속에서 소중한 경험을 쌓을 수 있는 곳이에요. 시와 노래가 있는 길을 따라 걷거나 숲속 해설 프로그램을 통해 숲의 소중함을 느끼며 휴식을 취할 수 있답니다. 숲 속의 치유를 느껴보고 싶으시다면 정말 좋은 선택이 될 것 같아요. 🍃

숲과 바다가 어우러진 멋진 관광지들이 있지만, 어떤 관광지를 선택하시든 즐거운 여행이 되길 바라며, 행복한 여행 되세요! 만약 궁금한 점이 있으시면 또 문의해주세요. 😊🌟✨

In [1]:
import pandas as pd

basic_b = pd.read_csv('./부산/basic_info.csv')
basic_u = pd.read_csv('./울산/basic_info.csv')
basic_gy = pd.read_csv('./경남/basic_info.csv')
basic_j = pd.read_csv('./전남/basic_info.csv')
basic_gw = pd.read_csv('./광주/basic_info.csv')

In [2]:
pd.concat([basic_b,basic_u,basic_gy,basic_j,basic_gw])

,관광지명,주소,평균 체류시간,stars,reviews,search_number,광역지자체별 거주 방문자 비율,catch,description
0,명지동근린공원,부산광역시 강서구,164,4.1,8.0,23200,62.5,도심 속 공원,"명지동 근린공원은 명지오션시티에 있는 도심 공원이다. 인근에는 주차장, 축구장, 잔..."
1,칠암항,부산광역시 기장군,73,4.0,2.0,18000,53.6,베이징 올림픽 금메달 신화를 기념하다,"칠암항은 방파제가 있는 항으로 야구 방망이와 글러브, 야구공을 형상화 한 야구 등대..."
2,학리항,부산광역시 기장군,88,4.4,37.0,9160,56.6,NaN,부산광역시 기장군 일광면 학리에 있는 어항으로 기장 해안가의 오래된 포구이다. 멸치...
3,아미르공원,부산광역시 영도구,154,4.0,3.0,63000,53.0,푸른 하늘과 에메랄드빛 바다 사이로 초록의 싱그러움이 반짝이는 아름다운 공원,아미르 공원은 1990년 말 부산항 북항 개발과정의 준설토를 매립하여 조성된 동삼혁...
4,부산복천동고분군,부산광역시 동래구,183,4.0,1.0,20100,74.3,"가야 시대를 만날 수 있는, 부산 복천동 고분군",부산 복천동 일대의 구릉 위에 있는 가야 때 무덤들이다. 여러 차례에 걸친 발굴조사...
...,...,...,...,...,...,...,...,...,...
44,충장사,광주광역시 북구,170,4.5,11.0,369000,46.8,임진왜란 의병장인 충장공 김덕령을 배향하는 사당,원효사로 올라가는 도로를 따라 배재에 이르면 왼편에 잘 가꾸어진 묘소와 함께 충장사...
45,푸른길분수공원,광주광역시 동구,58,4.5,10.0,230000,65.3,우리나라 최초의 폐선부지 공원,푸른길 분수공원은 과거 광주에서 순천을 거쳐 부산으로 가던 경전선 철길이었다. 남도...
46,풍암호수공원,광주광역시 서구,119,4.4,1983.0,64800,66.6,명품호수공원으로 거듭난 광주의 새로운 랜드마크,풍암호수공원은 1990년대 풍암저수지 근처의 풍암택지개발과 함께 공원으로 조성된 이...
47,하정웅미술관(광주),광주광역시 서구,110,4.3,203.0,127000,68.7,시간과 공간을 넘나들며 한국 근현대사의 폭을 한층 확장시킨 '하정웅미술관'\t\t,광주시립미술관 분관 ''하정웅미술관''은 1981년 3월에 건립되어 ''전남도지사 ...
48,환벽당,광주광역시 북구,68,4.2,22.0,21400,54.7,선비의 풍류를 보여주는 공간이자 푸르름을 사방에 두른 정자,"환벽당은 광주호 상류 창계천가의 충효동 쪽 언덕 위에 있는 정자로, 나주목사를 지낸..."

In [33]:
import pandas as pd

b = pd.read_csv('./부산/bus_info.csv')
u = pd.read_csv('./울산/bus_info.csv')
gy = pd.read_csv('./경남/bus_info.csv')
j = pd.read_csv('./전남/bus_info.csv')
gw = pd.read_csv('./광주/bus_info.csv')

In [34]:
df = pd.concat([b,u,gy,j,gw])

In [35]:
df

,관광지명,총 승객수,노선,구분,total_time,walking_time,fare,bus_time,subway_time,transfer
0,문화공감수정,42175,29,일반 명소,13,9.0,1550,4.0,0.0,0.0
1,연동시장,18510,6,숨은 명소,36,11.0,1550,9.0,16.0,1.0
2,구포어린이교통공원,8867,4,숨은 명소,48,12.0,1650,0.0,34.0,1.0
3,구덕민속예술관,28469,5,숨은 명소,20,10.0,1550,10.0,0.0,0.0
4,국제시장,20706,2,일반 명소,17,9.0,1550,9.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
25,지산유원지,207,2,숨은 명소,38분,15.0,"1,250",23.0,0.0,0.0
26,광주포충사,127,4,숨은 명소,51분,9.0,"1,250",42.0,0.0,1.0
27,풍암호수공원,4248,6,숨은 명소,55분,14.0,"1,250",41.0,0.0,0.0
28,고싸움놀이전수회관,125,4,숨은 명소,1시간5분,14.0,"1,250",48.0,0.0,2.0
29,광주공원,7305,6,일반 명소,27분,12.0,"1,250",14.0,0.0,1.0

결론 : 다 합쳐서 해보니 귀무가설 기각 되더라

1. 숨은명소/일반명소 버스 승객 수 차이 존재

2. 숨은명소/일반명소 버스 노선 수 차이 존재

In [37]:
from scipy import stats

test_names = ['총 승객수','노선']

p = df[df['구분'] == '일반 명소'][['총 승객수','노선']]
up = df[df['구분'] == '숨은 명소'][['총 승객수','노선']]

for test_name in test_names:
    statistic,p_value = stats.levene(p[test_name], up[test_name])
    if p_value > 0.05:
        print(f"{test_name} p-value: {p_value}, 등분산 가정 만족")
    else:
        print(f"{test_name} p-value: {p_value}, 이분산 가정 만족")

총 승객수 p-value: 0.0008574188907192718, 이분산 가정 만족
노선 p-value: 0.0069184045244404, 이분산 가정 만족

In [38]:
for test_name in test_names[0:1]:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',  # 양측검정, 기본적
        equal_var = False
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')
    break

총 승객수 0.00032018828313101885 귀무가설 기각

In [39]:
for test_name in test_names[1:]:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',  # 양측검정, 기본적
        equal_var = False
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')

노선 0.002485185650334703 귀무가설 기각

In [78]:
answer = []
for i in range(len(df)):
    answer.append(round(df.iloc[i]['총 승객수'] / df.iloc[i]['노선'],0))
df['단위노선당승객수'] = answer

In [82]:
df

,관광지명,총 승객수,노선,구분,total_time,walking_time,fare,bus_time,subway_time,transfer,단위노선당승객수
0,문화공감수정,42175,29,일반 명소,13,9.0,1550,4.0,0.0,0.0,1454.0
1,연동시장,18510,6,숨은 명소,36,11.0,1550,9.0,16.0,1.0,3085.0
2,구포어린이교통공원,8867,4,숨은 명소,48,12.0,1650,0.0,34.0,1.0,2217.0
3,구덕민속예술관,28469,5,숨은 명소,20,10.0,1550,10.0,0.0,0.0,5694.0
4,국제시장,20706,2,일반 명소,17,9.0,1550,9.0,0.0,0.0,10353.0
...,...,...,...,...,...,...,...,...,...,...,...
25,지산유원지,207,2,숨은 명소,38분,15.0,"1,250",23.0,0.0,0.0,104.0
26,광주포충사,127,4,숨은 명소,51분,9.0,"1,250",42.0,0.0,1.0,32.0
27,풍암호수공원,4248,6,숨은 명소,55분,14.0,"1,250",41.0,0.0,0.0,708.0
28,고싸움놀이전수회관,125,4,숨은 명소,1시간5분,14.0,"1,250",48.0,0.0,2.0,31.0
29,광주공원,7305,6,일반 명소,27분,12.0,"1,250",14.0,0.0,1.0,1218.0

In [83]:
from scipy import stats

test_names = ['단위노선당승객수']

p = df[df['구분'] == '일반 명소'][['단위노선당승객수']]
up = df[df['구분'] == '숨은 명소'][['단위노선당승객수']]

for test_name in test_names:
    statistic,p_value = stats.levene(p[test_name], up[test_name])
    if p_value > 0.05:
        print(f"{test_name} p-value: {p_value}, 등분산 가정 만족")
    else:
        print(f"{test_name} p-value: {p_value}, 이분산 가정 만족")

단위노선당승객수 p-value: 0.0009714731484120445, 이분산 가정 만족

In [84]:
for test_name in test_names:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',  # 양측검정, 기본적
        equal_var = False
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')

단위노선당승객수 0.0001196339077960396 귀무가설 기각

In [9]:
df.reset_index()

,index,관광지명,총 승객수,노선,구분,total_time,walking_time,fare,bus_time,subway_time,transfer
0,0,문화공감수정,42175,29,일반 명소,13,9.0,1550,4.0,0.0,0.0
1,1,연동시장,18510,6,숨은 명소,36,11.0,1550,9.0,16.0,1.0
2,2,구포어린이교통공원,8867,4,숨은 명소,48,12.0,1650,0.0,34.0,1.0
3,3,구덕민속예술관,28469,5,숨은 명소,20,10.0,1550,10.0,0.0,0.0
4,4,국제시장,20706,2,일반 명소,17,9.0,1550,9.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
175,25,지산유원지,207,2,숨은 명소,38분,15.0,"1,250",23.0,0.0,0.0
176,26,광주포충사,127,4,숨은 명소,51분,9.0,"1,250",42.0,0.0,1.0
177,27,풍암호수공원,4248,6,숨은 명소,55분,14.0,"1,250",41.0,0.0,0.0
178,28,고싸움놀이전수회관,125,4,숨은 명소,1시간5분,14.0,"1,250",48.0,0.0,2.0
179,29,광주공원,7305,6,일반 명소,27분,12.0,"1,250",14.0,0.0,1.0

In [16]:
j['total_time'].tolist()

['18분',
 '1시간',
 '32분',
 '35분',
 '44분',
 '16분',
 '1시간10분',
 '39분',
 '39분',
 '25분',
 '1시간27분',
 '39분',
 '20분',
 '42분',
 '2시간',
 '49분',
 '47분',
 '16분',
 '52분',
 nan,
 '18분',
 '36분',
 '40분',
 '1시간13분',
 '17분',
 '16분',
 '23분',
 '21분',
 '15분',
 '31분']

In [20]:
j

,관광지명,총 승객수,노선,구분,total_time,walking_time,fare,bus_time,subway_time,transfer
0,여수타루비,6669,83,숨은 명소,18분,15.0,NaN,4.0,0.0,0.0
1,돌산항,519,5,숨은 명소,1시간,7.0,NaN,50.0,0.0,1.0
2,돌산공원,650,11,일반 명소,32분,11.0,NaN,18.0,0.0,1.0
3,여수해상케이블카,1533,12,일반 명소,35분,13.0,NaN,18.0,0.0,1.0
4,돌산도,167,9,숨은 명소,44분,15.0,NaN,26.0,0.0,1.0
5,만성리검은모래해변,1922,4,숨은 명소,16분,8.0,NaN,8.0,0.0,0.0
6,월내선착장,14,2,숨은 명소,1시간10분,0.0,"8,400",610.0,0.0,0.0
7,전라남도해양수산과학관,203,7,숨은 명소,39분,4.0,NaN,31.0,0.0,1.0
8,무슬목해변,393,9,숨은 명소,39분,4.0,NaN,31.0,0.0,1.0
9,자산공원,2915,4,일반 명소,25분,16.0,NaN,9.0,0.0,0.0
10,백야선착장,504,2,숨은 명소,1시간27분,17.0,NaN,69.0,0.0,0.0
11,대경도대합실,721,12,숨은 명소,39분,17.0,NaN,23.0,0.0,0.0
12,여수녹테마레,98,2,숨은 명소,20분,8.0,NaN,11.0,0.0,0.0
13,여수성산공원,3276,4,일반 명소,42분,13.0,NaN,29.0,0.0,1.0
14,여수가사리갈대밭,28,1,숨은 명소,2시간,35.0,NaN,64.0,0.0,1.0
15,여수국가산단전망대,569,16,일반 명소,49분,17.0,NaN,32.0,0.0,0.0
16,소호항,1263,7,일반 명소,47분,7.0,NaN,39.0,0.0,1.0
17,아쿠아플라넷여수,1262,1,일반 명소,16분,10.0,NaN,7.0,0.0,0.0
18,신덕해수욕장/신덕해변,63,1,숨은 명소,52분,20.0,NaN,30.0,0.0,1.0
19,낭도항,162,1,숨은 명소,NaN,NaN,NaN,NaN,NaN,NaN
20,낭만포차,1909,1,일반 명소,18분,8.0,NaN,7.0,0.0,1.0
21,오동도등대,3946,4,일반 명소,36분,28.0,NaN,8.0,0.0,0.0
22,여수율촌역,1877,9,숨은 명소,40분,0.0,"8,400",33.0,0.0,0.0
23,장등해변,65,5,숨은 명소,1시간13분,9.0,NaN,61.0,0.0,1.0
24,여수수산물특화시장,24672,87,일반 명소,17분,9.0,NaN,7.0,0.0,1.0
25,여수중앙시장/중앙쇼핑센터,24672,87,일반 명소,16분,1.0,NaN,15.0,0.0,0.0
26,석천사(여수),5194,75,일반 명소,23분,13.0,NaN,10.0,0.0,0.0
27,여수교동시장,46246,87,일반 명소,21분,7.0,NaN,15.0,0.0,0.0
28,여수해양레일바이크,541,4,일반 명소,15분,7.0,NaN,7.0,0.0,0.0
29,거북선공원,6119,50,일반 명소,31분,9.0,NaN,20.0,0.0,1.0

In [41]:
for i in range(len(j)):
    if pd.isna(j.iloc[i]['total_time']):
        continue
    time = j.iloc[i]['total_time'].split('시간')
    m = 0
    for k in time:
        if k :
            if '분' in k:
                k = k.replace('분','')
                m += int(k)
            else:
                m += int(k) * 60
    j.at[i,'total_time'] = m

In [43]:
j.to_csv('./전남/bus_info.csv',index=False,encoding='utf-8')

In [44]:
gw

,관광지명,총 승객수,노선,구분,total_time,walking_time,fare,bus_time,subway_time,transfer
0,김대중컨벤션센터,4473,6,숨은 명소,33분,9.0,"1,250",24.0,0.0,0.0
1,5·18기념공원,2266,3,일반 명소,29분,12.0,"1,700",18.0,0.0,1.0
2,광주호호수생태원,133,2,숨은 명소,49분,6.0,NaN,33.0,0.0,1.0
3,국립광주과학관,906,8,숨은 명소,44분,11.0,NaN,32.0,0.0,1.0
4,국립광주박물관,688,3,일반 명소,19분,5.0,"1,250",12.0,0.0,1.0
5,광주시민의숲,257,1,일반 명소,54분,20.0,"1,250",33.0,0.0,1.0
6,오리요리의거리,55356,11,일반 명소,15분,11.0,"1,250",3.0,0.0,0.0
7,광주사직공원,15998,5,일반 명소,31분,15.0,"1,250",15.0,0.0,1.0
8,광주대인시장(대인예술시장),8833,11,숨은 명소,11분,6.0,"1,250",6.0,0.0,0.0
9,신광사(광주),5658,5,일반 명소,32분,24.0,"1,250",8.0,0.0,0.0
10,동명동카페거리,2893,4,일반 명소,18분,11.0,"1,250",6.0,0.0,0.0
11,송산유원지,1430,3,숨은 명소,57분,10.0,"1,250",46.0,0.0,1.0
12,증심사(광주),136,1,숨은 명소,21분,6.0,"1,250",14.0,0.0,0.0
13,광주서광사,12995,8,일반 명소,23분,11.0,"1,250",12.0,0.0,0.0
14,푸른길분수공원,12995,8,일반 명소,19분,8.0,"1,250",12.0,0.0,0.0
15,광주비엔날레전시관,3658,3,숨은 명소,26분,13.0,"1,250",12.0,0.0,1.0
16,약사암(광주),576,2,일반 명소,1시간27분,64.0,"1,700",23.0,0.0,0.0
17,광주송정공원,32928,14,일반 명소,47분,8.0,"1,250",39.0,0.0,1.0
18,광주수완호수공원,1292,5,일반 명소,41분,12.0,"1,250",29.0,0.0,0.0
19,빛고을농촌테마공원,24,3,숨은 명소,52분,13.0,"1,250",38.0,0.0,1.0
20,광주시립미술관,688,3,일반 명소,27분,18.0,"1,250",9.0,0.0,1.0
21,광주예술의거리,33432,12,일반 명소,18분,8.0,"1,250",11.0,0.0,0.0
22,광주패밀리랜드,1507,5,숨은 명소,55분,25.0,"1,250",26.0,0.0,1.0
23,무각사,13626,5,숨은 명소,36분,16.0,NaN,20.0,0.0,0.0
24,월봉서원,36,1,숨은 명소,1시간14분,15.0,"1,250",58.0,0.0,0.0
25,지산유원지,207,2,숨은 명소,38분,15.0,"1,250",23.0,0.0,0.0
26,광주포충사,127,4,숨은 명소,51분,9.0,"1,250",42.0,0.0,1.0
27,풍암호수공원,4248,6,숨은 명소,55분,14.0,"1,250",41.0,0.0,0.0
28,고싸움놀이전수회관,125,4,숨은 명소,1시간5분,14.0,"1,250",48.0,0.0,2.0
29,광주공원,7305,6,일반 명소,27분,12.0,"1,250",14.0,0.0,1.0

In [45]:
for i in range(len(gw)):
    if pd.isna(gw.iloc[i]['total_time']):
        continue
    time = gw.iloc[i]['total_time'].split('시간')
    m = 0
    for k in time:
        if k :
            if '분' in k:
                k = k.replace('분','')
                m += int(k)
            else:
                m += int(k) * 60
    gw.at[i,'total_time'] = m

In [47]:
gw.to_csv('./광주/bus_info.csv',encoding='utf-8',index=False)