In [7]:
import os
import pandas as pd

In [12]:
# 파일명 변경

folder_names = os.listdir('./data/')

for folder_name in folder_names:
    file_names = os.listdir(f'./data/{folder_name}')
    for file_name in file_names:
        split_file_name = file_name.replace('.csv','').split('_')
        os.rename(f'./data/{folder_name}/{file_name}',f'./data/{folder_name}/{folder_name}_{split_file_name[1]}.csv')

### 데이터프레임 합치기
### 관광지 기본정보

In [ ]:
folder_names = os.listdir('./data/')
folder_names

In [3]:
basic_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./data/{folder_name}/{folder_name}_관광지 기본정보.csv',encoding='ANSI')
    basic_info = pd.concat([basic_info,df],ignore_index=True)

In [223]:
basic_info.to_csv('./basic_info.csv',encoding='utf-8')

### 데이터프레임 합치기

### 내비게이션

In [176]:
folder_names = os.listdir('./zipfile/data/')
len(folder_names)

239

In [177]:
navi_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./zipfile/data/{folder_name}/{folder_name}_내비게이션 목적지 검색량 추이.csv',encoding='ANSI',index_col=0)
    df = df.rename(columns={df.columns[0] : folder_name}).transpose()
    df['관광지명'] = folder_name
    navi_info = pd.concat([navi_info,df])

In [178]:
navi_info.to_csv('./data_2/navi_info.csv',encoding='utf-8',index=False)

In [5]:
navi_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./data/{folder_name}/{folder_name}_내비게이션 목적지 검색량 추이.csv',encoding='ANSI',index_col=0)
    df = df.rename(columns={df.columns[0] : folder_name}).transpose()
    navi_info = pd.concat([navi_info,df])

In [7]:
navi_info.to_csv('./navi_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기
### 방문자 거주지별 분포

In [8]:

new_order = ['관광지명','광역지자체명', '기초지자체명', '광역지자체별 거주 방문자 비율', '기초지자체별 거주 방문자 비율']

visit_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./data/{folder_name}/{folder_name}_방문자 거주지별 분포.csv',encoding='ANSI')
    df['관광지명'] = folder_name
    df = df[new_order]
    
    visit_info = pd.concat([visit_info,df],ignore_index=True)

In [10]:
visit_info.to_csv('./visit_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기
### 성별

In [ ]:
folder_names = os.listdir('./busan_zipfile/data/')
len(folder_names)

In [59]:
new_order = ['관광지명','연령대', '남성방문 비율', '여성방문 비율']

gender_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./busan_zipfile/data/{folder_name}/{folder_name}_성·연령별 방문자.csv',encoding='ANSI')
    df['관광지명'] = folder_name
    df = df[new_order]
    
    gender_info = pd.concat([gender_info,df],ignore_index=True)

In [61]:
gender_info.to_csv('./data_2/gender_info.csv',encoding='utf-8',index=False)

==================================================================================================

==================================================================================================

==================================================================================================

In [4]:
import pandas as pd

basic_info = pd.read_csv('./data_2/basic_info.csv')
basic_info

     Unnamed: 0            관광지명          주소   평균 체류시간
0             0           168계단    부산광역시 동구   3시간 4분
1             1    40계단문화관광테마거리    부산광역시 중구  1시간 36분
2             2          BIFF광장    부산광역시 중구  1시간 22분
3             3      KT&G상상마당부산  부산광역시 부산진구  1시간 28분
4             4  SEALIFE부산아쿠아리움  부산광역시 해운대구  0시간 59분
..          ...             ...         ...       ...
234         234           화명수목원    부산광역시 북구   1시간 8분
235         235            화전공원   부산광역시 강서구  2시간 53분
236         236             황령산  부산광역시 부산진구   2시간 1분
237         237          황령산전망대    부산광역시 남구  0시간 38분
238         238         흰여울문화마을   부산광역시 영도구  0시간 48분

[239 rows x 4 columns]

In [5]:
stars = []
reviews = []

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service


for i in basic_info['관광지명']:
    url = f'https://www.google.co.kr/maps/search/{i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    
    try:
        # 해당 클래스명이 나타날 때까지 최대 10초 대기
        element = WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.CLASS_NAME, 'F7nice'))
        )
        
        star = element.text.split('\n')[0]
        review = element.text.split('\n')[1][1:-1]
        
        stars.append(star)
        reviews.append(review)
    except:
        check = input('일치하는 장소를 클릭 후 y를 눌러주세요(이외 None)')
        if check.upper() == 'Y':
            star = driver.find_element(By.CLASS_NAME, 'F7nice').text.split('\n')[0]
            review = driver.find_element(By.CLASS_NAME, 'F7nice').text.split('\n')[1][1:-1]
            
            stars.append(star)
            reviews.append(review)
        else:
            stars.append(None)
            reviews.append(None)
    
    driver.quit()
    print(f'평점 수 : {len(stars)}','|',f'리뷰 수 : {len(reviews)}','|',f'관광지 명 : {i}','|', f'별점 : {star}','|',f'리뷰 : {review}')
    
    star = None
    review = None

In [8]:
print(f'총 데이터 수 : {len(basic_info)}')
print('=========================================')
print(f'평점 수 : {len(stars)}')
print(f'리뷰 수 : {len(reviews)}')
print('=========================================')
print(f'총 None값 수 : {stars.count(None)}')
print(f'총 None값 수 : {reviews.count(None)}')

총 데이터 수 : 239
=========================================
평점 수 : 239
리뷰 수 : 239
=========================================
총 None값 수 : 6
총 None값 수 : 6

In [11]:
basic_info['stars'] = stars
basic_info['reviews'] = reviews

In [18]:
basic_info = basic_info.drop('Unnamed: 0',axis=1)

In [22]:
basic_info.to_csv('./basic_info_with_reviews.csv',encoding='utf-8',index=False)

==============================================================================================================================

==============================================================================================================================

==============================================================================================================================

### 리뷰, 체류시간 -> 숫자 값으로 변경

In [181]:
import pandas as pd

basic_info = pd.read_csv('./data_2/basic_info_with_reviews.csv')
gender_info = pd.read_csv('./data_2/gender_info.csv')
navi_info = pd.read_csv('./data_2/navi_info.csv')
visit_info = pd.read_csv('./data_2/visit_info.csv')

In [46]:
time = []

for i in basic_info['평균 체류시간']:
    i = i.replace('시간','').replace('분','').strip()
    i = i.split(' ')
    time.append((int(i[0]) * 60) + int(i[1]))
    
basic_info['평균 체류시간'] = time

In [69]:
reviews_to_int = []

for i in basic_info['reviews']:
    if type(i) == float:
        reviews_to_int.append(i)
    else:
        i = i.replace(',','')
        i = int(i)
        reviews_to_int.append(i)

basic_info['reviews'] = reviews_to_int

In [76]:
basic_info.to_csv('./data_2/basic_info_with_reviews.csv',encoding='utf-8',index=False)

### None값 -> 관광지별 평균

In [182]:
new_order = ['관광지명','202301', '202302', '202303', '202304', '202305', '202306', '202307','202308', '202309', '202310', '202311', '202312']
navi_info = navi_info[new_order]

In [183]:
navi_info.set_index('관광지명',inplace=True)

In [185]:
navi_info = navi_info.apply(lambda row: row.fillna(int(row.mean())), axis=1)

In [186]:
navi_info.to_csv('./data_2/navi_info.csv',encoding='utf-8',index=True)

==============================================================================================================================

==============================================================================================================================

==============================================================================================================================

In [6]:
import requests
from bs4 import BeautifulSoup
import time

In [15]:
url = 'https://datalab.visitkorea.or.kr/visualize/getTempleteData.do'

params = {
    "SIDO_CD": 26,
    "SGG_CD": "",
    "BASE_YM1": 2010,
    "BASE_YM2": 2022,
    "CONT_NM": "",
    "KTO_CATE_LCLS_CD": "",
    "KTO_CATE_MCLS_CD": "",
    "firstIndex": float('nan'),
    "pageIndex": 1,
    "recordCountPerPage": 10,
    "orderSelect": "",
    "orderValue": "asc",
    "contentList": "전체",
    "noTheme": "",
    "qid": "LN_05_01_011"
}

response = requests.get(url,params=params)

In [8]:
data = response.json()

In [ ]:
all = []

while True:
    for item in data.get('list', []):
        result = {
            'CONT_NM': item.get('CONT_NM'),
            'TAR_ADDR_NM': item.get('TAR_ADDR_NM'),
            'KTO_CATE_LCLS_NM': item.get('KTO_CATE_LCLS_NM'),
            'KTO_CATE_MCLS_NM': item.get('KTO_CATE_MCLS_NM'),
            'KTO_CATE_SCLS_NM': item.get('KTO_CATE_SCLS_NM'),
            'XCRD': item.get('XCRD'),
            'YCRD': item.get('YCRD')
        }
        all.append(result)
        
    params['pageIndex'] += 1
    
    time.sleep(5)
    
    if len(all) == 239:
        break

In [11]:
import pandas as pd

df = pd.DataFrame(all)

In [12]:
df.to_csv('./data_2/location.csv',encoding='utf-8',index=False)

===============================================================================================================

===============================================================================================================

===============================================================================================================

In [4]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
plt.rc('font', family='Malgun Gothic')

import warnings
warnings.filterwarnings('ignore')

In [89]:
basic_info = pd.read_csv('./data_2/basic_info_with_reviews.csv')
gender_info = pd.read_csv('./data_2/gender_info.csv')
navi_info = pd.read_csv('./data_2/navi_info.csv')
visit_info = pd.read_csv('./data_2/visit_info.csv')
location_info = pd.read_csv('./data_2/location.csv')

In [78]:
totals = []
avgs = []

for i in range(len(navi_info)):
    total = navi_info.iloc[i][1:].sum()
    avg = navi_info.iloc[i][1:].mean()
    
    totals.append(total)
    avgs.append(avg)

In [79]:
navi_info['sum'] = totals
navi_info['avg'] = avgs

===============================================================================================================

===============================================================================================================

===============================================================================================================

In [50]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time
from selenium.webdriver.common.action_chains import ActionChains
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

search_number = []
for i in basic_info['관광지명']:
    if not i.startswith('부산'):
        i = '부산 ' + i
    url = f'https://www.google.com/search?q={i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    time.sleep(2)

    search_number.append(driver.find_element(By.ID, 'result-stats').text)

basic_info['search_number'] = search_number

In [72]:
search_number = []
for index,i in enumerate(basic_info['관광지명']):
    if basic_info.iloc[index]['search_number']:
        continue
    if not i.startswith('부산'):
        i = '부산 ' + i
    url = f'https://www.google.com/search?q={i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    time.sleep(2)

    # search_number.append(driver.find_element(By.ID, 'result-stats').text)
    basic_info.loc[index,'search_number'] = driver.find_element(By.ID, 'result-stats').text

In [105]:
import re

pattern = re.compile(r'\([^)]*\)')

basic_info['search_number'] = basic_info['search_number'].apply(lambda x: re.sub(pattern, '', x))
basic_info['search_number'] = basic_info['search_number'].apply(lambda x: x[7:-1])

In [109]:
basic_info['search_number'] = basic_info['search_number'].apply(lambda x: re.sub(r'개', '', x))

In [115]:
basic_info['search_number'] = basic_info['search_number'].apply(lambda x: int(x.replace(',','')))

In [129]:
basic_info.to_csv('./data_2/basic_info_with_reviews.csv',encoding='utf-8',index=False)

===============================================================================================================

===============================================================================================================

===============================================================================================================

In [4]:
import pandas as pd

In [5]:
basic_info = pd.read_csv('./부산/basic_info.csv')
gender_info = pd.read_csv('./부산/gender_info.csv')
navi_info = pd.read_csv('./부산/navi_info.csv')
visit_info = pd.read_csv('./부산/visit_info.csv')
location_info = pd.read_csv('./부산/location_info.csv')

In [3]:
visit_info.dropna(subset=['광역지자체명'], axis=0,inplace=True)
names = visit_info['관광지명'].tolist()

local_visit = visit_info[visit_info['광역지자체명'].str.contains('부산')].groupby('관광지명')[['광역지자체별 거주 방문자 비율']].mean()
local_visit = local_visit.reset_index()

In [4]:
basic_info['광역지자체별 거주 방문자 비율'] = local_visit['광역지자체별 거주 방문자 비율']

In [5]:
totals = []
avgs = []

for i in range(len(navi_info)):
    total = navi_info.iloc[i][1:].sum()
    avg = navi_info.iloc[i][1:].mean()
    
    totals.append(total)
    avgs.append(avg)
navi_info['sum'] = totals
navi_info['avg'] = avgs

In [18]:
location_info = location_info.rename(columns={'CONT_NM': '관광지명', 'TAR_ADDR_NM': '주소', 'KTO_CATE_LCLS_NM': '대분류', 'KTO_CATE_MCLS_NM': '중분류', 'KTO_CATE_SCLS_NM': '소분류', 'XCRD' : 'longitude', 'YCRD' : 'latitude'})

In [7]:
import re

pattern = re.compile(r'\([^)]*\)')

basic_info['관광지명'] = basic_info['관광지명'].apply(lambda x: re.sub(pattern, '', x))
location_info['관광지명'] = location_info['관광지명'].apply(lambda x: re.sub(pattern, '', x))
visit_info['관광지명'] = visit_info['관광지명'].apply(lambda x: re.sub(pattern, '', x))

In [8]:
df = pd.DataFrame()

In [9]:
df = pd.concat([basic_info,navi_info[['sum','avg']]],axis=1)

In [10]:
df = pd.merge(df,location_info,on='관광지명',how='inner')

In [20]:
df.describe()

,평균 체류시간,stars,reviews,search_number,광역지자체별 거주 방문자 비율,sum,avg,longitude,latitude
count,239.000000,233.000000,233.00000,2.390000e+02,239.000000,239.000000,239.000000,239.000000,239.000000
mean,104.920502,4.244206,1385.04721,7.520314e+05,62.297908,16550.447699,1379.203975,129.072049,35.163086
std,46.716897,0.273031,3375.29869,2.589280e+06,14.161516,37049.609650,3087.467471,0.093770,0.076956
min,16.000000,3.000000,1.00000,6.700000e+02,20.800000,36.000000,3.000000,128.809631,35.000647
25%,73.000000,4.100000,48.00000,2.695000e+04,53.800000,542.000000,45.166667,129.027611,35.104642
50%,94.000000,4.300000,203.00000,1.090000e+05,65.700000,3183.000000,265.250000,129.062351,35.154317
75%,134.500000,4.400000,1063.00000,3.435000e+05,73.150000,12807.000000,1067.250000,129.116345,35.213901
max,328.000000,5.000000,24051.00000,3.220000e+07,87.900000,235888.000000,19657.333333,129.276526,35.376051

In [205]:
import folium

busan_map = folium.Map(location=[35.115225,129.042243],zoom_start=11)

In [207]:
for i in range(len(df['관광지명'])):
    folium.Marker(
            [df.iloc[i]['latitude'],df.iloc[i]['longitude']],
            popup=folium.Popup(df.iloc[i]['관광지명'],maxWidth=300),
            fill_opacity=0.5,
            icon=folium.Icon(color='blue')            
            ).add_to(busan_map)

In [ ]:
busan_map

In [11]:
df = df.dropna()

In [11]:
import numpy as np
score = []

for i in range(len(df)):
    if pd.isna(df.iloc[i]['stars']):
        star = 0
    else:
        star = df.iloc[i]['stars'] * 1.2
    if pd.isna(df.iloc[i]['reviews']):
        review = 0
    else:
        review = np.log1p(max(df['reviews'])) - np.log1p(df.iloc[i]['reviews']) * 1.1
    search = np.log1p(max(df['search_number'])) - np.log1p(df.iloc[i]['search_number'])
    visit = np.log1p(df.iloc[i]['광역지자체별 거주 방문자 비율']) * 1.1
    time = np.log1p(df.iloc[i]['평균 체류시간']) * 0.8
    navi = np.log1p(max(df['avg'])) - np.log1p(df.iloc[i]['avg'])
    all = star+review+search+visit+time-navi
    # if not df['주소_x'].str.contains('진구|해운대|사하구|북구|동래').iloc[i]:
    #     all *= 1.1
    if df.iloc[i]['소분류'] == '산':
        score.append(all*0.9)
    elif df.iloc[i]['소분류'] == '사찰':
        score.append(all*0.9)
    else:
        score.append(all)

df['scores'] = score

In [13]:
first = df.sort_values(by='scores',ascending=False)

In [15]:
first.to_csv('./busan.csv',encoding='utf-8',index=False)

In [31]:
first['관광지명'].tail(25).tolist()

['평화공원',
 '금용암',
 '부산자갈치시장',
 '부산부전시장',
 '더베이101',
 '해동용궁사',
 '40계단문화관광테마거리',
 'BIFF광장',
 '부평시장',
 '부산박물관',
 '168계단',
 '이기대',
 '부산해운대시장',
 '국제시장',
 '부산올림픽공원',
 '문화공감수정',
 '서면시장',
 '태종사',
 '영도봉래시장/봉래시장',
 '두도',
 '광복로문화패션거리',
 '송정역',
 '부산자갈치양곱창골목',
 '화전공원',
 '감천사']

In [37]:
import folium

busan_map = folium.Map(location=[35.115225,129.042243],zoom_start=11)

In [38]:
for i in range(len(first)):
    if i == 30:
        break
    folium.Marker(
            [first.iloc[i]['latitude'],first.iloc[i]['longitude']],
            popup=folium.Popup(first.iloc[i]['관광지명'],maxWidth=300),
            fill_opacity=0.5,
            icon=folium.Icon(color='blue')            
            ).add_to(busan_map)

In [ ]:
busan_map

==============================================================================

==============================================================================

==============================================================================

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm.notebook import tqdm

In [3]:
basic_info = pd.read_csv('./부산/basic_info.csv')
gender_info = pd.read_csv('./부산/gender_info.csv')
navi_info = pd.read_csv('./부산/navi_info.csv')
visit_info = pd.read_csv('./부산/visit_info.csv')
location_info = pd.read_csv('./부산/location_info.csv')

In [ ]:
# 네이버 블로그 글 가져오기

# url을 soup로 만들기
def url_to_soup(url):
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html,'html.parser')
    return soup

# 블로그 리뷰
blog_review = []

for i in tqdm(basic_info['관광지명']):
    # 각 여행지 검색
    url = f'https://search.naver.com/search.naver?ssc=tab.blog.all&sm=tab_jum&query={i}'
    soup = url_to_soup(url)
    
    # 각 블로그별 url 가져오기
    titles = soup.findAll('div', class_ = 'title_area')
    urls = []
    for title in titles:
        links = title.find('a',class_='title_link')
        link = links.get('href')
        urls.append(link)

    # 블로그별 리뷰 가져오기
    reviews = []
    for blog_url in urls[:25]:
        soup = url_to_soup(blog_url)
        if soup.find('iframe'):
            src = soup.find('iframe').get('src')
            head = 'https://blog.naver.com/'
            real_url = head + src
            
            soup = url_to_soup(real_url)
            main_container = soup.find('div', attrs={'class': 'se-main-container'})
            
            if main_container:
                review = main_container.get_text().replace('\n', '')
                reviews.append(review)
            else:
                print(f"Couldn't find the 'se-main-container' class on {real_url}")
    
    blog_review.append(reviews)

In [ ]:
for i,num in enumerate(blog_review):
    if len(num) < 25:
        print(i,len(num))

In [26]:
df = pd.DataFrame()

In [31]:
df['관광지명'] = basic_info['관광지명']
df['블로그리뷰'] = blog_review

In [36]:
df.to_csv('./부산/blog_review.csv',encoding='utf-8',index=False)

In [43]:
basic_info

               관광지명          주소  평균 체류시간  stars  reviews  search_number
0             168계단    부산광역시 동구      184    4.2   1948.0         253000
1      40계단문화관광테마거리    부산광역시 중구       96    3.8   1705.0         134000
2            BIFF광장    부산광역시 중구       82    4.1  17771.0         107000
3        KT&G상상마당부산  부산광역시 부산진구       88    4.5    280.0         293000
4    SEALIFE부산아쿠아리움  부산광역시 해운대구       59    4.2   8067.0          76200
..              ...         ...      ...    ...      ...            ...
234           화명수목원    부산광역시 북구       68    4.4   1282.0         245000
235            화전공원   부산광역시 강서구      173    NaN      NaN         176000
236             황령산  부산광역시 부산진구      121    5.0      5.0         249000
237          황령산전망대    부산광역시 남구       38    4.6   3512.0         118000
238         흰여울문화마을   부산광역시 영도구       48    4.4   7094.0         160000

[239 rows x 6 columns]

==================================================================================================

==================================================================================================

==================================================================================================

In [34]:
import pandas as pd
import os

In [35]:
# 파일이 있는 디렉토리 설정
directory = "./부산/대중교통"

# 모든 CSV 파일 목록 가져오기
file_list = [file for file in os.listdir(directory) if file.endswith('.csv')]

# 모든 CSV 파일을 담을 빈 DataFrame 생성
combined_df = pd.DataFrame()

# 각 CSV 파일을 순회하면서 데이터를 합치기
for file in file_list:
    file_path = os.path.join(directory, file)
    
    # 관광지 명 추출
    landmark_name = file.split('_')[1]  # 파일명에서 '_'를 기준으로 분리하여 첫 번째 요소를 관광지 명으로 사용
    landmark_name = landmark_name.replace('.csv', '')
    
    # CSV 파일을 DataFrame으로 읽기
    df = pd.read_csv(file_path, encoding="cp949")
    
    # 관광지 명 컬럼 추가
    df['관광지명'] = landmark_name
    
    # 현재 파일의 데이터를 합치기
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# 결과를 CSV 파일로 저장하기
# combined_df.to_csv('combined_data.csv', index=False, encoding="utf-8")

# print("합쳐진 데이터를 combined_data.csv로 저장했습니다.")

In [38]:
total_column = []
for i in range(len(combined_df)):
    total = combined_df.iloc[i][6:-2].sum()
    total_column.append(total)

combined_df['total'] = total_column

In [51]:
# 관광지명으로 그룹화하여 총 승객수를 구하고 새로운 컬럼으로 추가
total_passengers_by_landmark = combined_df.groupby('관광지명')['total'].sum().reset_index()
total_passengers_by_landmark.rename(columns={'total': '총 승객수'}, inplace=True)

# 기존 데이터프레임에 총 승객수 컬럼 추가
df = pd.merge(combined_df, total_passengers_by_landmark, on='관광지명', how='left')

In [55]:
bus = df.groupby('관광지명')[['노선']].nunique().reset_index()

In [57]:
new_df = df[['관광지명', '총 승객수']]
new_df = new_df.drop_duplicates()

In [59]:
new_df = pd.merge(new_df,bus,on='관광지명',how='inner')

In [61]:
for i in range(len(new_df)):
    if new_df.iloc[i]['관광지명'] in first.head(25)['관광지명'].tolist():
        new_df.loc[i,'구분'] = '숨은 명소'
    else:
        new_df.loc[i,'구분'] = '일반 명소'

In [ ]:
new_df

In [70]:
# new_df.to_csv('./부산/bus_info.csv',encoding='utf-8',index=False)

In [71]:
print('숨은 명소', new_df[new_df['구분']=='숨은 명소']['노선'].sum() / len(new_df[new_df['구분']=='숨은 명소']))
print('명소', new_df[new_df['구분']=='일반 명소']['노선'].sum() / len(new_df[new_df['구분']=='일반 명소']))

숨은 명소 3.55
명소 7.9

In [73]:
print('숨은 명소', new_df[new_df['구분']=='숨은 명소']['총 승객수'].sum() / len(new_df[new_df['구분']=='숨은 명소']))
print('명소', new_df[new_df['구분']=='일반 명소']['총 승객수'].sum() / len(new_df[new_df['구분']=='일반 명소']))

숨은 명소 7365.0
명소 42276.5

In [77]:
from scipy import stats

test_names = ['총 승객수','노선']

p = new_df[new_df['구분'] == '일반 명소'][['총 승객수','노선']]
up = new_df[new_df['구분'] == '숨은 명소'][['총 승객수','노선']]

for test_name in test_names:
    statistic,p_value = stats.levene(p[test_name], up[test_name])
    if p_value > 0.05:
        print(f"{test_name} p-value: {p_value}, 등분산 가정 만족")
    else:
        print(f"{test_name} p-value: {p_value}, 이분산 가정 만족")

총 승객수 p-value: 0.04121680028572161, 이분산 가정 만족
노선 p-value: 0.06741296134971786, 등분산 가정 만족

In [78]:
for test_name in test_names[0:1]:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',  # 양측검정, 기본적
        equal_var = False
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')
    break

총 승객수 0.026547892367400128 귀무가설 기각

In [80]:
for test_name in test_names[1:]:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',  # 양측검정, 기본적
        equal_var = True
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')

노선 0.03078096342153267 귀무가설 기각

In [2]:
import pandas as pd

basic_info = pd.read_csv('./부산/basic_info.csv')
navi_info = pd.read_csv('./부산/navi_info.csv')
visit_info = pd.read_csv('./부산/visit_info.csv')
location_info = pd.read_csv('./부산/location_info.csv')
bus_info = pd.read_csv('./부산/bus_info.csv')

In [3]:
basic_info

,관광지명,주소,평균 체류시간,stars,reviews,search_number,광역지자체별 거주 방문자 비율,catch,description
0,명지동근린공원,부산광역시 강서구,164,4.1,8.0,23200,62.5,도심 속 공원,"명지동 근린공원은 명지오션시티에 있는 도심 공원이다. 인근에는 주차장, 축구장, 잔..."
1,칠암항,부산광역시 기장군,73,4.0,2.0,18000,53.6,베이징 올림픽 금메달 신화를 기념하다,"칠암항은 방파제가 있는 항으로 야구 방망이와 글러브, 야구공을 형상화 한 야구 등대..."
2,학리항,부산광역시 기장군,88,4.4,37.0,9160,56.6,NaN,부산광역시 기장군 일광면 학리에 있는 어항으로 기장 해안가의 오래된 포구이다. 멸치...
3,아미르공원,부산광역시 영도구,154,4.0,3.0,63000,53.0,푸른 하늘과 에메랄드빛 바다 사이로 초록의 싱그러움이 반짝이는 아름다운 공원,아미르 공원은 1990년 말 부산항 북항 개발과정의 준설토를 매립하여 조성된 동삼혁...
4,부산복천동고분군,부산광역시 동래구,183,4.0,1.0,20100,74.3,"가야 시대를 만날 수 있는, 부산 복천동 고분군",부산 복천동 일대의 구릉 위에 있는 가야 때 무덤들이다. 여러 차례에 걸친 발굴조사...
...,...,...,...,...,...,...,...,...,...
235,광복로문화패션거리,부산광역시 중구,75,NaN,NaN,18900,69.8,젊음의 열기가 느껴지는 거리,"광복로문화패션거리는 과거 하천이었던 곳을 복개하여 도로로 사용하고 있는 곳이며, 도..."
236,송정역,부산광역시 해운대구,84,NaN,NaN,268000,47.7,바다가 보이는 송정동의 기차역,부산 해운대구 송정동에 있는 기차역이다. 동해안의 해산물과 자원 수송을 목적으로 부...
237,부산자갈치양곱창골목,부산광역시 중구,67,NaN,NaN,12000,70.0,담백한 양곱창이 맛있는 곱창 골목,"부산 여행의 양대산맥 해운대와 남포동. 먹거리 여행의 메인은 남포동이고, 그중에서도..."
238,화전공원,부산광역시 강서구,173,NaN,NaN,176000,55.1,피로를 잠시 내려놓을 수 있는 공원,부산 강서구 화전동에 있는 공원이다. 1995년 부산직할시가 부산광역시로 승격되면서...
239,감천사,부산광역시 연제구,262,NaN,NaN,941000,72.3,가뭄에도 물이 마르지 않는 샘이 있는 사찰,"* 비구니 스님의 수행도량, 감천사 *극심한 가뭄에도 물이 마르지 않고 지하 암반에..."

In [4]:
import requests
from bs4 import BeautifulSoup
import time

In [110]:
url = 'https://korean.visitkorea.or.kr/call'
params = {
    'cmd': 'TOUR_CONTENT_LIST_VIEW',
    'month': 'All',
    'areaCode': '6',
    'sigunguCode': 'All',
    'tagId': 'All',
    'sortkind': '1',
    'locationx': '0',
    'locationy': '0',
    'page': '1',
    'cnt': '100',
    'typeList': 'Tour',
    'stampId': '1589345b-b030-11ea-b8bd-020027310001'
}

all_data = []  # 모든 페이지의 데이터를 저장할 리스트

while True:
    response = requests.get(url, params=params)
    data = response.json()

    # 받은 데이터에서 필요한 정보 추출
    result_list = data.get('body', {}).get('result', [])
    for item in result_list:
        img_path = item.get('imgPath', '')
        img_url = f'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id={img_path}'
        
        extracted_data = {
            '관광지명': item.get('TITLE', ''),
            'catch': item.get('catchPhrase', ''),
            'addr1': item.get('addr1', ''),
            'img': img_url,
            'cotid' : item.get('cotId', ''),
            'areaCode' : item.get('areaCode', ''),
            'cat1' : item.get('cat1', ''),
            'cat2' : item.get('cat2', '')
        }
        
        cotid = extracted_data['cotid']
        cat1 = extracted_data['cat1']
        cat2 = extracted_data['cat2']
        areaCode = extracted_data['areaCode']
        
        new_url = f'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid={cotid}&big_category={cat1}&mid_category={cat2}&big_area={areaCode}'
        response = requests.get(new_url)
        html = response.text
        soup = BeautifulSoup(html,'html.parser')
        description = soup.find('div',class_='blind').text
        description = description.replace('\n','').replace('\t','')
        extracted_data['description'] = description

        all_data.append(extracted_data)
    
    print(params['page'])
    params['page'] = str(int(params['page']) + 1)
    
    if '아이리' in [data['관광지명'] for data in all_data]:
        break

    # 만약 더 이상 페이지가 없으면 반복문 종료
    if not result_list or len(all_data) == 1351:
        break

1
2
3
4
5
6
7
8
9

In [111]:
import pandas as pd

df = pd.DataFrame(all_data)

In [13]:
from tqdm import tqdm
import re

tqdm.pandas()
df['관광지명'] = df['관광지명'].progress_apply(lambda x: x.replace(' ',''))

pattern = re.compile(r'\([^)]*\)')
df['관광지명'] = df['관광지명'].apply(lambda x: re.sub(pattern, '', x))

100%|██████████| 1351/1351 [00:00<00:00, 450044.06it/s]

In [83]:
b = pd.read_csv('./data/busan.csv')

In [84]:
bb = pd.read_csv('./부산/basic_info.csv')

In [85]:
bb = bb.drop_duplicates('관광지명')

In [86]:
b = pd.merge(b,bb[['관광지명','catch','description']],on='관광지명',how='left')

In [87]:
b = pd.merge(b,df[['관광지명','img']],on='관광지명',how='left')

In [ ]:
b.isnull().sum()

In [ ]:
b.loc[7,'img'] = df.iloc[1044]['img']
b.loc[10,'img'] = df.iloc[129]['img']
b.loc[39,'img'] = df.iloc[1012]['img']
b.loc[62,'img'] = df.iloc[427]['img']
b.loc[131,'img'] = df.iloc[797]['img']
b.loc[196,'img'] = df.iloc[981]['img']
b.loc[200,'img'] = df.iloc[1156]['img']
b.loc[204,'img'] = df.iloc[214]['img']
b.loc[229,'img'] = df.iloc[1162]['img']

In [115]:
b.loc[193,['catch','description','img']] = [df.iloc[866]['catch'],df.iloc[866]['description'],df.iloc[866]['img']]

In [98]:
index_5_description = '만덕고개길 아래로 터널이 2개나 뚫리고 지하철까지 놓이면서 이제는 굳이 오를 필요가 없어진 길. 하지만 요즘 만덕고개길이 다시 부활하고 있다. 발아래로 펼쳐지는 멋진 야경과 구석구석 숨어 있는 다양한 볼거리 덕분에. 가파른 절벽 위에 세워 마치 공중에 붕 떠 있는 듯 아찔하다. 데크 위에 서서 산 아래를 굽어보니 부산이 한눈에 들어온다. 멀리 센텀시티가 보이고 그 뒤로 푸른 바다가 넘실댄다. 왼쪽으로 동래구, 오른쪽으로 연제구와 부산진구가 눈에 들어온다. 멀리 장산과 배산, 황령산도 보인다. 땀을 흘리며 한 시간 남짓 고갯길을 걸어온 보람이 비로소 느껴진다.'
index_5_catch = '숲길 산책에 야경까지'
index_5_img = 'https://www.visitbusan.net/uploadImgs/files/cntnts/20210917160703645'

index_177_description = '향기로운 라벤더 로즈마리 재배 판매하는 부산라벤더팜. 보라빛 물결을 바라보면 마음이 편안해집니다. 가을시즌에는 밤줍기를 진행합니다.'
index_177_catch = '부산광역시 품질인증 문화체험장'
index_177_img = 'https://www.visitbusan.net/uploadImgs/files/cntnts/20200901180951954'

In [99]:
b.loc[5,['catch','description','img']] = [index_5_catch,index_5_description,index_5_img]
b.loc[177,['catch','description','img']] = [index_177_catch,index_177_description,index_177_img]

In [125]:
b = b.drop(['주소_x'],axis=1).drop_duplicates('관광지명').rename(columns={'주소_y' : '주소'})

In [126]:
b.to_csv('./data/busan.csv',encoding='utf-8',index=False)

In [ ]:
from PIL import Image
import requests
from io import BytesIO
from IPython.display import display  # Jupyter Notebook에서 이미지를 표시하기 위한 모듈

url = 'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=2d81aa7e-8111-4b5f-a28a-2e3ebfd3db22'

response = requests.get(url)
image = Image.open(BytesIO(response.content))

display(image)