In [1]:
import os
import pandas as pd

In [4]:
# 파일명 변경

folder_names = os.listdir('./울산/')

for folder_name in folder_names:
    file_names = os.listdir(f'./울산/{folder_name}')
    for file_name in file_names:
        split_file_name = file_name.replace('.csv','').split('_')
        os.rename(f'./울산/{folder_name}/{file_name}',f'./울산/{folder_name}/{folder_name}_{split_file_name[1]}.csv')

### 데이터프레임 합치기
### 관광지 기본정보

In [5]:
basic_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./울산/{folder_name}/{folder_name}_관광지 기본정보.csv',encoding='ANSI')
    basic_info = pd.concat([basic_info,df],ignore_index=True)

In [6]:
basic_info

         관광지명         주소   평균 체류시간
0         간월산  울산광역시 울주군  1시간 57분
1    간월산자연휴양림  울산광역시 울주군   2시간 2분
2         간월재  울산광역시 울주군  1시간 27분
3       간절곶등대  울산광역시 울주군  0시간 40분
4      강동몽돌해변   울산광역시 북구  3시간 55분
..        ...        ...       ...
115       해남사   울산광역시 중구  0시간 44분
116   화동못수변공원   울산광역시 북구  3시간 43분
117    화봉종합시장   울산광역시 북구  2시간 10분
118     화암추등대   울산광역시 동구  1시간 18분
119   회야댐생태공원  울산광역시 울주군  2시간 50분

[120 rows x 3 columns]

In [121]:
basic_info.to_csv('./울산/basic_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기

### 내비게이션

In [9]:
navi_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./울산/{folder_name}/{folder_name}_내비게이션 목적지 검색량 추이.csv',encoding='ANSI',index_col=0)
    df = df.rename(columns={df.columns[0] : folder_name}).transpose()
    df['관광지명'] = folder_name
    navi_info = pd.concat([navi_info,df])

In [35]:
navi_info.columns

Index(['202401', '202302', '202303', '202304', '202305', '202306', '202307',
       '202308', '202309', '202310', '202311', '202312', '관광지명'],
      dtype='object')

In [ ]:
order = [202301,202302, 202303, 202304,202305, 202306, 202307, 202308,202309, 202310, 202311, 202312, '관광지명']
navi_info = navi_info[order]

In [14]:
navi_info

,202401,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312,관광지명
간월산,6.0,6.0,17.0,NaN,NaN,NaN,NaN,NaN,3.0,102.0,29.0,NaN,간월산
간월산자연휴양림,NaN,24.0,45.0,57.0,34.0,53.0,165.0,184.0,31.0,76.0,56.0,3.0,간월산자연휴양림
간월재,113.0,128.0,144.0,NaN,NaN,3.0,4.0,18.0,289.0,2027.0,872.0,156.0,간월재
간절곶등대,146.0,99.0,120.0,109.0,138.0,127.0,105.0,149.0,129.0,133.0,90.0,149.0,간절곶등대
강동몽돌해변,709.0,693.0,700.0,NaN,NaN,137.0,87.0,448.0,1063.0,1119.0,645.0,621.0,강동몽돌해변
...,...,...,...,...,...,...,...,...,...,...,...,...,...
해남사,139.0,118.0,157.0,131.0,219.0,150.0,124.0,103.0,120.0,120.0,206.0,129.0,해남사
화동못수변공원,62.0,52.0,199.0,253.0,149.0,123.0,57.0,54.0,46.0,159.0,126.0,52.0,화동못수변공원
화봉종합시장,419.0,349.0,332.0,286.0,308.0,297.0,355.0,314.0,376.0,407.0,400.0,463.0,화봉종합시장
화암추등대,91.0,90.0,116.0,86.0,113.0,71.0,103.0,94.0,82.0,96.0,66.0,74.0,화암추등대
회야댐생태공원,3.0,NaN,NaN,NaN,NaN,3.0,9.0,NaN,6.0,NaN,NaN,NaN,회야댐생태공원

In [16]:
navi_info.to_csv('./울산/data/navi_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기
### 방문자 거주지별 분포

In [18]:
order = ['관광지명','광역지자체명', '기초지자체명', '광역지자체별 거주 방문자 비율', '기초지자체별 거주 방문자 비율']

visit_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./울산/{folder_name}/{folder_name}_방문자 거주지별 분포.csv',encoding='ANSI')
    df['관광지명'] = folder_name
    df = df[order]
    
    visit_info = pd.concat([visit_info,df],ignore_index=True)

In [19]:
visit_info

          관광지명   광역지자체명 기초지자체명  광역지자체별 거주 방문자 비율  기초지자체별 거주 방문자 비율
0          간월산      NaN    NaN               0.0             100.0
1          간월산  강원특별자치도    원주시               0.5              25.2
2          간월산  강원특별자치도    횡성군               0.5               2.6
3          간월산  강원특별자치도    삼척시               0.5               6.7
4          간월산  강원특별자치도    강릉시               0.5              14.2
...        ...      ...    ...               ...               ...
27457  회야댐생태공원     충청북도    괴산군               0.7               4.2
27458  회야댐생태공원     충청북도    영동군               0.7               2.8
27459  회야댐생태공원     충청북도    보은군               0.7               1.1
27460  회야댐생태공원     충청북도    증평군               0.7               5.0
27461  회야댐생태공원     충청북도    단양군               0.7               0.4

[27462 rows x 5 columns]

In [20]:
visit_info.to_csv('./울산/data/visit_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기
### 성별

In [21]:
order = ['관광지명','연령대', '남성방문 비율', '여성방문 비율']

gender_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./울산/{folder_name}/{folder_name}_성·연령별 방문자.csv',encoding='ANSI')
    df['관광지명'] = folder_name
    df = df[order]
    
    gender_info = pd.concat([gender_info,df],ignore_index=True)

In [23]:
gender_info

        관광지명     연령대  남성방문 비율  여성방문 비율
0        간월산  70세 이상      2.8      2.4
1        간월산  60~69세     10.9      7.3
2        간월산  50~59세     12.1     12.7
3        간월산  40~49세      8.7      8.3
4        간월산  30~39세      7.4      7.1
..       ...     ...      ...      ...
955  회야댐생태공원  40~49세     12.0      5.7
956  회야댐생태공원  30~39세      8.1      4.5
957  회야댐생태공원  20~29세      5.2      3.7
958  회야댐생태공원  10~19세      1.7      1.8
959  회야댐생태공원    0~9세      0.5      0.5

[960 rows x 4 columns]

In [24]:
gender_info.to_csv('./울산/data/gender_info.csv',encoding='utf-8',index=False)

### 데이터 가져오기
### 위치정보

In [26]:
import requests
from bs4 import BeautifulSoup
import time

In [28]:
url = 'https://datalab.visitkorea.or.kr/visualize/getTempleteData.do'

params = {
    "SIDO_CD": 31,
    "SGG_CD": "",
    "BASE_YM1": 2010,
    "BASE_YM2": 2022,
    "CONT_NM": "",
    "KTO_CATE_LCLS_CD": "",
    "KTO_CATE_MCLS_CD": "",
    "firstIndex": float('nan'),
    "pageIndex": 1,
    "recordCountPerPage": 10,
    "orderSelect": "",
    "orderValue": "asc",
    "contentList": "전체",
    "noTheme": "",
    "qid": "LN_05_01_011"
}

response = requests.get(url,params=params)
data = response.json()

In [ ]:
data.get('list')

In [32]:
all = []

while True:
    for item in data.get('list', []):
        result = {
            '관광지명': item.get('CONT_NM'),
            '주소': item.get('TAR_ADDR_NM'),
            '대분류': item.get('KTO_CATE_LCLS_NM'),
            '중분류': item.get('KTO_CATE_MCLS_NM'),
            '소분류': item.get('KTO_CATE_SCLS_NM'),
            'longitude': item.get('XCRD'),
            'latitude': item.get('YCRD')
        }
        all.append(result)
        
    params['pageIndex'] += 1
    
    time.sleep(5)
    
    if len(all) == 120:
        break

In [34]:
df = pd.DataFrame(all)

In [36]:
df.to_csv('./울산/location_info.csv',encoding='utf-8',index=False)

==================================================================================================

==================================================================================================

==================================================================================================

### 평점, 리뷰 수 가져오기

In [1]:
import pandas as pd

basic_info = pd.read_csv('./울산/basic_info.csv')
gender_info = pd.read_csv('./울산/gender_info.csv')
location_info = pd.read_csv('./울산/location_info.csv')
navi_info = pd.read_csv('./울산/navi_info.csv')
visit_info = pd.read_csv('./울산/visit_info.csv')

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

stars = []
reviews = []

for i in basic_info['관광지명']:
    url = f'https://www.google.co.kr/maps/search/{i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    
    try:
        # 해당 클래스명이 나타날 때까지 최대 10초 대기
        element = WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.CLASS_NAME, 'F7nice'))
        )
        
        star = element.text.split('\n')[0]
        review = element.text.split('\n')[1][1:-1]
        
        stars.append(star)
        reviews.append(review)
    except:
        check = input('일치하는 장소를 클릭 후 y를 눌러주세요(이외 None)')
        if check.upper() == 'Y':
            star = driver.find_element(By.CLASS_NAME, 'F7nice').text.split('\n')[0]
            review = driver.find_element(By.CLASS_NAME, 'F7nice').text.split('\n')[1][1:-1]
            
            stars.append(star)
            reviews.append(review)
        else:
            stars.append(None)
            reviews.append(None)
    
    driver.quit()
    print(f'평점 수 : {len(stars)}','|',f'리뷰 수 : {len(reviews)}','|',f'관광지 명 : {i}','|', f'별점 : {star}','|',f'리뷰 : {review}')
    
    star = None
    review = None

In [11]:
print(f'총 데이터 수 : {len(basic_info)}')
print('=========================================')
print(f'평점 수 : {len(stars)}')
print(f'리뷰 수 : {len(reviews)}')
print('=========================================')
print(f'총 None값 수 : {stars.count(None)}')
print(f'총 None값 수 : {reviews.count(None)}')

총 데이터 수 : 120
=========================================
평점 수 : 120
리뷰 수 : 120
=========================================
총 None값 수 : 2
총 None값 수 : 2

In [12]:
basic_info['stars'] = stars
basic_info['reviews'] = reviews

In [16]:
basic_info.to_csv('./울산/basic_info.csv',encoding='utf-8',index=False)

### 리뷰, 체류시간 -> 숫자 값으로 변경

In [20]:
basic_info

         관광지명         주소   평균 체류시간  stars reviews
0         간월산  울산광역시 울주군  1시간 57분     4.4     126
1    간월산자연휴양림  울산광역시 울주군   2시간 2분     4.1     119
2         간월재  울산광역시 울주군  1시간 27분     4.6   3,155
3       간절곶등대  울산광역시 울주군  0시간 40분     4.6     329
4      강동몽돌해변   울산광역시 북구  3시간 55분     3.7       3
..        ...        ...       ...    ...     ...
115       해남사   울산광역시 중구  0시간 44분     4.4      36
116   화동못수변공원   울산광역시 북구  3시간 43분     4.2     166
117    화봉종합시장   울산광역시 북구  2시간 10분     3.8     230
118     화암추등대   울산광역시 동구  1시간 18분     3.9     190
119   회야댐생태공원  울산광역시 울주군  2시간 50분     4.5      17

[120 rows x 5 columns]

In [22]:
time = []

for i in basic_info['평균 체류시간']:
    i = i.replace('시간','').replace('분','').strip()
    i = i.split(' ')
    time.append((int(i[0]) * 60) + int(i[1]))
    
basic_info['평균 체류시간'] = time

In [24]:
reviews_to_int = []

for i in basic_info['reviews']:
    if type(i) == float:
        reviews_to_int.append(i)
    else:
        i = i.replace(',','')
        i = int(i)
        reviews_to_int.append(i)

basic_info['reviews'] = reviews_to_int

In [25]:
basic_info.to_csv('./울산/basic_info.csv',encoding='utf-8',index=False)

### None값 -> 관광지별 평균

In [45]:
new_order = ['관광지명','202301', '202302', '202303', '202304', '202305', '202306', '202307','202308', '202309', '202310', '202311', '202312']
navi_info = navi_info[new_order]
navi_info.set_index('관광지명',inplace=True)

In [46]:
navi_info

,202301,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312
관광지명,,,,,,,,,,,,
간월산,6.0,6.0,17.0,NaN,NaN,NaN,NaN,NaN,3.0,102.0,29.0,NaN
간월산자연휴양림,NaN,24.0,45.0,57.0,34.0,53.0,165.0,184.0,31.0,76.0,56.0,3.0
간월재,113.0,128.0,144.0,NaN,NaN,3.0,4.0,18.0,289.0,2027.0,872.0,156.0
간절곶등대,146.0,99.0,120.0,109.0,138.0,127.0,105.0,149.0,129.0,133.0,90.0,149.0
강동몽돌해변,709.0,693.0,700.0,NaN,NaN,137.0,87.0,448.0,1063.0,1119.0,645.0,621.0
...,...,...,...,...,...,...,...,...,...,...,...,...
해남사,139.0,118.0,157.0,131.0,219.0,150.0,124.0,103.0,120.0,120.0,206.0,129.0
화동못수변공원,62.0,52.0,199.0,253.0,149.0,123.0,57.0,54.0,46.0,159.0,126.0,52.0
화봉종합시장,419.0,349.0,332.0,286.0,308.0,297.0,355.0,314.0,376.0,407.0,400.0,463.0
화암추등대,91.0,90.0,116.0,86.0,113.0,71.0,103.0,94.0,82.0,96.0,66.0,74.0
회야댐생태공원,3.0,NaN,NaN,NaN,NaN,3.0,9.0,NaN,6.0,NaN,NaN,NaN

In [47]:
navi_info = navi_info.apply(lambda row: row.fillna(int(row.mean())), axis=1)

In [48]:
navi_info

,202301,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312
관광지명,,,,,,,,,,,,
간월산,6.0,6.0,17.0,27.0,27.0,27.0,27.0,27.0,3.0,102.0,29.0,27.0
간월산자연휴양림,66.0,24.0,45.0,57.0,34.0,53.0,165.0,184.0,31.0,76.0,56.0,3.0
간월재,113.0,128.0,144.0,375.0,375.0,3.0,4.0,18.0,289.0,2027.0,872.0,156.0
간절곶등대,146.0,99.0,120.0,109.0,138.0,127.0,105.0,149.0,129.0,133.0,90.0,149.0
강동몽돌해변,709.0,693.0,700.0,622.0,622.0,137.0,87.0,448.0,1063.0,1119.0,645.0,621.0
...,...,...,...,...,...,...,...,...,...,...,...,...
해남사,139.0,118.0,157.0,131.0,219.0,150.0,124.0,103.0,120.0,120.0,206.0,129.0
화동못수변공원,62.0,52.0,199.0,253.0,149.0,123.0,57.0,54.0,46.0,159.0,126.0,52.0
화봉종합시장,419.0,349.0,332.0,286.0,308.0,297.0,355.0,314.0,376.0,407.0,400.0,463.0
화암추등대,91.0,90.0,116.0,86.0,113.0,71.0,103.0,94.0,82.0,96.0,66.0,74.0
회야댐생태공원,3.0,5.0,5.0,5.0,5.0,3.0,9.0,5.0,6.0,5.0,5.0,5.0

In [50]:
navi_info.to_csv('./울산/navi_info.csv',encoding='utf-8',index=False)

In [54]:
visit_info

          관광지명   광역지자체명 기초지자체명  광역지자체별 거주 방문자 비율  기초지자체별 거주 방문자 비율
0          간월산      NaN    NaN               0.0             100.0
1          간월산  강원특별자치도    원주시               0.5              25.2
2          간월산  강원특별자치도    횡성군               0.5               2.6
3          간월산  강원특별자치도    삼척시               0.5               6.7
4          간월산  강원특별자치도    강릉시               0.5              14.2
...        ...      ...    ...               ...               ...
27457  회야댐생태공원     충청북도    괴산군               0.7               4.2
27458  회야댐생태공원     충청북도    영동군               0.7               2.8
27459  회야댐생태공원     충청북도    보은군               0.7               1.1
27460  회야댐생태공원     충청북도    증평군               0.7               5.0
27461  회야댐생태공원     충청북도    단양군               0.7               0.4

[27462 rows x 5 columns]

In [69]:
visit_info.dropna(subset=['광역지자체명'], axis=0,inplace=True)

In [ ]:
names = visit_info['관광지명'].tolist()

local_visit = visit_info[visit_info['광역지자체명'].str.contains('울산')].groupby('관광지명')[['광역지자체별 거주 방문자 비율']].mean()
local_visit = local_visit.reset_index()

local_visit.loc[local_visit['관광지명'].isin(names)]

In [74]:
local_visit

         관광지명  광역지자체별 거주 방문자 비율
0         간월산              25.8
1    간월산자연휴양림              32.8
2         간월재              26.6
3       간절곶등대              17.0
4      강동몽돌해변              56.7
..        ...               ...
115       해남사              71.5
116   화동못수변공원              64.6
117    화봉종합시장              63.7
118     화암추등대              51.0
119   회야댐생태공원              37.0

[120 rows x 2 columns]

In [72]:
basic_info['광역지자체별 거주 방문자 비율'] = local_visit['광역지자체별 거주 방문자 비율']

In [122]:
basic_info

,관광지명,주소,평균 체류시간,stars,reviews,광역지자체별 거주 방문자 비율,search_number
0,간월산,울산광역시 울주군,117,4.4,126.0,25.8,142000
1,간월산자연휴양림,울산광역시 울주군,122,4.1,119.0,32.8,78600
2,간월재,울산광역시 울주군,87,4.6,3155.0,26.6,120000
3,간절곶등대,울산광역시 울주군,40,4.6,329.0,17.0,46900
4,강동몽돌해변,울산광역시 북구,235,3.7,3.0,56.7,23200
...,...,...,...,...,...,...,...
115,해남사,울산광역시 중구,44,4.4,36.0,71.5,755000
116,화동못수변공원,울산광역시 북구,223,4.2,166.0,64.6,99500
117,화봉종합시장,울산광역시 북구,130,3.8,230.0,63.7,18900
118,화암추등대,울산광역시 동구,78,3.9,190.0,51.0,8890
119,회야댐생태공원,울산광역시 울주군,170,4.5,17.0,37.0,4970

===============================================================================================================

===============================================================================================================

===============================================================================================================

### 검색수 추가

In [104]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time
from selenium.webdriver.common.action_chains import ActionChains
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

search_number = []
for i in basic_info['관광지명']:
    if not i.startswith('울산'):
        i = '울산 ' + i
    url = f'https://www.google.com/search?q={i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    time.sleep(2)

    search_number.append(driver.find_element(By.ID, 'result-stats').text)

basic_info['search_number'] = search_number

In [111]:
search_number = []
for index,i in enumerate(basic_info['관광지명']):
    if basic_info.iloc[index]['search_number']:
        continue
    if not i.startswith('울산'):
        i = '울산 ' + i
    url = f'https://www.google.com/search?q={i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    time.sleep(2)

    # search_number.append(driver.find_element(By.ID, 'result-stats').text)
    basic_info.loc[index,'search_number'] = driver.find_element(By.ID, 'result-stats').text

In [113]:
import re

pattern = re.compile(r'\([^)]*\)')

basic_info['search_number'] = basic_info['search_number'].apply(lambda x: re.sub(pattern,'',x).strip())

In [114]:
basic_info['search_number'] = basic_info['search_number'].apply(lambda x: int(x.replace('개','').replace(',','')[7:]))

In [120]:
basic_info

,관광지명,주소,평균 체류시간,stars,reviews,광역지자체별 거주 방문자 비율,search_number
0,간월산,울산광역시 울주군,117,4.4,126.0,25.8,142000
1,간월산자연휴양림,울산광역시 울주군,122,4.1,119.0,32.8,78600
2,간월재,울산광역시 울주군,87,4.6,3155.0,26.6,120000
3,간절곶등대,울산광역시 울주군,40,4.6,329.0,17.0,46900
4,강동몽돌해변,울산광역시 북구,235,3.7,3.0,56.7,23200
...,...,...,...,...,...,...,...
115,해남사,울산광역시 중구,44,4.4,36.0,71.5,755000
116,화동못수변공원,울산광역시 북구,223,4.2,166.0,64.6,99500
117,화봉종합시장,울산광역시 북구,130,3.8,230.0,63.7,18900
118,화암추등대,울산광역시 동구,78,3.9,190.0,51.0,8890
119,회야댐생태공원,울산광역시 울주군,170,4.5,17.0,37.0,4970

In [1]:
import pandas as pd

basic_info = pd.read_csv('./울산/basic_info.csv')
gender_info = pd.read_csv('./울산/gender_info.csv')
location_info = pd.read_csv('./울산/location_info.csv')
navi_info = pd.read_csv('./울산/navi_info.csv')
visit_info = pd.read_csv('./울산/visit_info.csv')

In [2]:
totals = []
avgs = []

for i in range(len(navi_info)):
    total = navi_info.iloc[i][1:].sum()
    avg = navi_info.iloc[i][1:].mean()
    
    totals.append(total)
    avgs.append(avg)
navi_info['sum'] = totals
navi_info['avg'] = avgs

In [3]:
df = pd.DataFrame()
df = pd.concat([basic_info,navi_info[['sum','avg']]],axis=1)
df = pd.merge(df,location_info,on='관광지명',how='inner')

In [4]:
import numpy as np
score = []

for i in range(len(df)):
    if pd.isna(df.iloc[i]['stars']):
        star = 0
    else:
        star = df.iloc[i]['stars'] * 1.2
    if pd.isna(df.iloc[i]['reviews']):
        review = 0
    else:
        review = np.log1p(max(df['reviews'])) - np.log1p(df.iloc[i]['reviews']) * 1.1
    search = np.log1p(max(df['search_number'])) - np.log1p(df.iloc[i]['search_number'])
    visit = np.log1p(df.iloc[i]['광역지자체별 거주 방문자 비율']) * 1.1
    time = np.log1p(df.iloc[i]['평균 체류시간']) * 0.8
    navi = np.log1p(max(df['avg'])) - np.log1p(df.iloc[i]['avg'])
    all = star+review+search+visit+time-navi
    if df.iloc[i]['소분류'] == '산':
        score.append(all*0.9)
    elif df.iloc[i]['소분류'] == '사찰':
        score.append(all*0.9)
    else:
        score.append(all)

df['scores'] = score

In [5]:
first = df.sort_values(by='scores',ascending=False)

In [7]:
first.to_csv('./ulsan.csv',encoding='utf-8',index=False)

In [66]:
first.head(30)['관광지명'].tolist()

['대송농수산물시장',
 '강동몽돌해변',
 '마근저수지',
 '언양읍성',
 '범서온천지지워터피아',
 '등억온천단지',
 '두현저수지',
 '울산큰애기집/이팔청춘사진관',
 '방어진항',
 '울산경상좌도병영성',
 '외솔최현배선생생가기념관',
 '쇠평어린이공원',
 '치산서원',
 '솔개해수욕장',
 '덕신소공원',
 '불고기팜농어촌테마공원',
 '편백산림욕장',
 '울산어린이천문대',
 '약사동제방유적전시관',
 '고복수음악관',
 '숯못생태공원',
 '회야댐생태공원',
 '오치골공원',
 '기박산성의병역사공원',
 '함월루',
 '어물동마애여래좌상',
 '주전몽돌해변',
 '화봉종합시장',
 '주전봉수대',
 '구강서원']

In [23]:
import folium

busan_map = folium.Map(location=[35.115225,129.042243],zoom_start=11)

In [24]:
for i in range(len(first)):
    if i == 30:
        break
    folium.Marker(
            [first.iloc[i]['latitude'],first.iloc[i]['longitude']],
            popup=folium.Popup(first.iloc[i]['관광지명'],maxWidth=300),
            fill_opacity=0.5,
            icon=folium.Icon(color='blue')            
            ).add_to(busan_map)

In [ ]:
busan_map

In [67]:
import pandas as pd
import os

In [68]:
# 파일이 있는 디렉토리 설정
directory = "./울산/대중교통"

# 모든 CSV 파일 목록 가져오기
file_list = [file for file in os.listdir(directory) if file.endswith('.csv')]

# 모든 CSV 파일을 담을 빈 DataFrame 생성
combined_df = pd.DataFrame()

# 각 CSV 파일을 순회하면서 데이터를 합치기
for file in file_list:
    file_path = os.path.join(directory, file)
    
    # 관광지 명 추출
    landmark_name = file.split('_')[1]  # 파일명에서 '_'를 기준으로 분리하여 첫 번째 요소를 관광지 명으로 사용
    landmark_name = landmark_name.replace('.csv', '')
    
    # CSV 파일을 DataFrame으로 읽기
    df = pd.read_csv(file_path, encoding="cp949")
    
    # 관광지 명 컬럼 추가
    df['관광지명'] = landmark_name
    
    # 현재 파일의 데이터를 합치기
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# 결과를 CSV 파일로 저장하기
# combined_df.to_csv('combined_data.csv', index=False, encoding="utf-8")

# print("합쳐진 데이터를 combined_data.csv로 저장했습니다.")

In [69]:
total_column = []
for i in range(len(combined_df)):
    total = combined_df.iloc[i][6:-2].sum()
    total_column.append(total)

combined_df['total'] = total_column

In [70]:
# 관광지명으로 그룹화하여 총 승객수를 구하고 새로운 컬럼으로 추가
total_passengers_by_landmark = combined_df.groupby('관광지명')['total'].sum().reset_index()
total_passengers_by_landmark.rename(columns={'total': '총 승객수'}, inplace=True)

# 기존 데이터프레임에 총 승객수 컬럼 추가
df = pd.merge(combined_df, total_passengers_by_landmark, on='관광지명', how='left')

In [71]:
bus = df.groupby('관광지명')[['노선']].nunique().reset_index()

In [72]:
new_df = df[['관광지명', '총 승객수']]
new_df = new_df.drop_duplicates()

In [73]:
new_df = pd.merge(new_df,bus,on='관광지명',how='inner')

In [ ]:
new_df

In [75]:
new_df.loc[13,'관광지명'] = '울산큰애기집/이팔청춘사진관'

In [76]:
for i in range(len(new_df)):
    if new_df.iloc[i]['관광지명'] in first.head(30)['관광지명'].tolist():
        new_df.loc[i,'구분'] = '숨은 명소'
    else:
        new_df.loc[i,'구분'] = '일반 명소'

In [78]:
print(len(new_df[new_df['구분']=='일반 명소']))
print(len(new_df[new_df['구분']=='숨은 명소']))

20
20

In [20]:
new_df.to_csv('./울산/bus_info.csv',encoding='utf-8',index=False)

In [79]:
from scipy import stats

test_names = ['총 승객수','노선']

p = new_df[new_df['구분'] == '일반 명소'][['총 승객수','노선']]
up = new_df[new_df['구분'] == '숨은 명소'][['총 승객수','노선']]

for test_name in test_names:
    statistic,p_value = stats.levene(p[test_name], up[test_name])
    if p_value > 0.05:
        print(f"{test_name} p-value: {p_value}, 등분산 가정 만족")
    else:
        print(f"{test_name} p-value: {p_value}, 이분산 가정 만족")

총 승객수 p-value: 0.008807156238948646, 이분산 가정 만족
노선 p-value: 0.12774121240276384, 등분산 가정 만족

In [80]:
for test_name in test_names[0:1]:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',
        equal_var = False
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')

총 승객수 0.013275697920276075 귀무가설 기각

In [81]:
for test_name in test_names[1:]:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',
        equal_var = True
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')

노선 0.0815388772356243 귀무가설 기각 불가

====================================================================================================================

====================================================================================================================

====================================================================================================================

In [15]:
import requests
from bs4 import BeautifulSoup
import time

In [16]:
url = 'https://korean.visitkorea.or.kr/call'
params = {
    'cmd': 'TOUR_CONTENT_LIST_VIEW',
    'month': 'All',
    'areaCode': '7',
    'sigunguCode': 'All',
    'tagId': 'All',
    'sortkind': '1',
    'locationx': '0',
    'locationy': '0',
    'page': '1',
    'cnt': '100',
    'typeList': 'Tour',
    'stampId': '1589345b-b030-11ea-b8bd-020027310001'
}

all_data = []  # 모든 페이지의 데이터를 저장할 리스트

while True:
    response = requests.get(url, params=params)
    data = response.json()

    # 받은 데이터에서 필요한 정보 추출
    result_list = data.get('body', {}).get('result', [])
    for item in result_list:
        img_path = item.get('imgPath', '')
        img_url = f'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id={img_path}'
        
        extracted_data = {
            '관광지명': item.get('TITLE', ''),
            # 'catch': item.get('catchPhrase', ''),
            # 'addr1': item.get('addr1', ''),
            'img': img_url,
            # 'cotid' : item.get('cotId', ''),
            # 'areaCode' : item.get('areaCode', ''),
            # 'cat1' : item.get('cat1', ''),
            # 'cat2' : item.get('cat2', '')
        }
        
        # cotid = extracted_data['cotid']
        # cat1 = extracted_data['cat1']
        # cat2 = extracted_data['cat2']
        # areaCode = extracted_data['areaCode']
        
        # new_url = f'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid={cotid}&big_category={cat1}&mid_category={cat2}&big_area={areaCode}'
        # response = requests.get(new_url)
        # html = response.text
        # soup = BeautifulSoup(html,'html.parser')
        # description = soup.find('div',class_='blind').text
        # description = description.replace('\n','').replace('\t','')
        # extracted_data['description'] = description

        all_data.append(extracted_data)
    
    # 다음 페이지로 이동
    # if params['page'] in range(0,1000,100):
    #     print('time sleep')
    #     time.sleep(200)
    # else:
    
    print(params['page'])
    params['page'] = str(int(params['page']) + 1)
    

    # 만약 더 이상 페이지가 없으면 반복문 종료
    if not result_list or len(all_data) == 563:
        break

1
2
3
4
5
6

In [31]:
import pandas as pd

u = pd.read_csv('./data/ulsan.csv')
uu = pd.read_csv('./울산/basic_info.csv')

In [32]:
u = pd.merge(u,uu[['관광지명','catch','description']],on='관광지명',how='inner')

In [33]:
df = pd.DataFrame(all_data)

In [34]:
df

           관광지명                                                img
0          장무공원  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
1      입화산자연휴양림  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
2         JK승마장  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
3           용골산  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
4      울산EDA승마장  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
..          ...                                                ...
558     호텔리버사이드  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
559     동해고래일번가  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
560        한주소금  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
561         L모텔  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...
562  현대자동차 울산공장  https://cdn.visitkorea.or.kr/img/call?cmd=VIEW...

[563 rows x 2 columns]

In [36]:
from tqdm import tqdm
import re

tqdm.pandas()
df['관광지명'] = df['관광지명'].progress_apply(lambda x: x.replace(' ',''))

pattern = re.compile(r'\([^)]*\)')
df['관광지명'] = df['관광지명'].apply(lambda x: re.sub(pattern, '', x))

100%|██████████| 563/563 [00:00<00:00, 562772.44it/s]

In [37]:
u = pd.merge(u,df,on='관광지명',how='left')

In [43]:
u[u.img.isna()]

Empty DataFrame
Columns: [관광지명, 주소_x, 평균 체류시간, stars, reviews, 광역지자체별 거주 방문자 비율, search_number, sum, avg, 주소_y, 대분류, 중분류, 소분류, longitude, latitude, scores, catch, description, img]
Index: []

In [42]:
u.loc[16,'img'] = df.iloc[120]['img']
u.loc[50,'img'] = df.iloc[1]['img']
u.loc[7,'img'] = df.iloc[166]['img']
u.loc[93,'img'] = df.iloc[111]['img']

In [55]:
u = u.drop(['주소_x','sum'],axis=1)

In [59]:
u.to_csv('./data/ulsan.csv',encoding='utf-8',index=False)